<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/jdbc 
    http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
    http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	
		<context:component-scan base-package="com.fc.pay"/>
		
		<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
			<property name="locations">
				<list> 
					<value>classpath:/properties/db.properties</value>
					<value>classpath:/properties/activemq_config.properties</value> 
					<value>classpath:/properties/redis.properties</value> 
				</list>
			</property>
			<property name="fileEncoding" value="utf-8" />
		</bean>
		
		<!-- 数据源配置开始：fc_pay -->
		<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
			<property name="url" value="${url}" />
			<property name="username" value="${username}" />
			<property name="password" value="${password}" />
			<property name="initialSize" value="#{T(java.lang.Integer).parseInt('${initialSize}')}" />
			<property name="minIdle" value="${minIdle}" />
			<property name="maxActive" value="${maxActive}" />
			<property name="maxWait" value="${maxWait}" />
			<property name="timeBetweenEvictionRunsMillis" value="${timeBetweenEvictionRunsMillis}" />
			<property name="minEvictableIdleTimeMillis" value="${minEvictableIdleTimeMillis}" />
			<property name="validationQuery" value="${validationQuery}" />
			<property name="testWhileIdle" value="${testWhileIdle}" />
			<property name="testOnBorrow" value="${testOnBorrow}" />
			<property name="testOnReturn" value="${testOnReturn}" />
			<property name="poolPreparedStatements" value="${poolPreparedStatements}" />
			<property name="maxPoolPreparedStatementPerConnectionSize" value="${maxPoolPreparedStatementPerConnectionSize}" />
			<property name="filters" value="${filters}" />
		</bean>
		<!-- 数据源配置结束：fc_pay -->
		
		<!-- mybatis配置开始 -->
		<bean id="sqlSessionFactory" class="com.baomidou.mybatisplus.spring.MybatisSqlSessionFactoryBean">
			<property name="dataSource" ref="dataSource" />
			<property name="typeAliasesPackage" value="com.fc.pay.*.entity" />
			<property name="mapperLocations" value="classpath*:com/fc/pay/**/*.xml"/>
			    <!-- 插件配置项  -->
		    <property name="plugins">
		        <!-- 分页插件配置 -->
	            <!-- <bean id="paginationInterceptor" class="com.fc.pay.boss.utils.PaginationInterceptor">
	                <property name="dialectType" value="mysql" />
	            </bean>-->
	            <bean class="com.fc.pay.common.system.mybatis.StatementHandlerInterceptor" />
		    </property>
		</bean>
		
		<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
			<!-- 多包间逗号分隔，不可使用通配符 -->
			<property name="basePackage" value="com.fc.pay.*.dao" />
			<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" /> 
		</bean>
		
		<bean id="sqlSession_pay" class="org.mybatis.spring.SqlSessionTemplate">
		  	<constructor-arg index="0" ref="sqlSessionFactory" />
		</bean>
		<!-- mybatis结束 -->

		<!-- 事务配置开始 -->	
		<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
			<property name="dataSource" ref="dataSource" />
		</bean>
		
		<tx:annotation-driven transaction-manager="transactionManager" />
		<!-- 事务配置结束 -->
	    
	    <!-- <import resource="activemq.xml"/> -->
		<import resource="classpath:spring/permission/spring-shiro.xml" />
		<import resource="classpath:spring/spring-redis.xml" />
		
</beans>