<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fc.pay.trade.dao.MerchantMapper" >
  <resultMap id="BaseResultMap" type="com.fc.pay.trade.entity.Merchant" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="creater" property="creater" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="editor" property="editor" jdbcType="VARCHAR" />
    <result column="edit_time" property="editTime" jdbcType="TIMESTAMP" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="merchant_code" property="merchantCode" jdbcType="VARCHAR" />
    <result column="merchant_name" property="merchantName" jdbcType="VARCHAR" />
    <result column="licence" property="licence" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="status" property="status" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, creater, create_time, editor, edit_time, version, merchant_code, merchant_name, 
    licence, email, mobile, remark,status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from merchant
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from merchant
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.fc.pay.trade.entity.Merchant" >
    insert into merchant (id, creater, create_time, 
      editor, edit_time, version, 
      merchant_code, merchant_name, licence, 
      email, mobile, remark,status
      )
    values (#{id,jdbcType=BIGINT}, #{creater,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{editor,jdbcType=VARCHAR}, #{editTime,jdbcType=TIMESTAMP}, #{version,jdbcType=INTEGER}, 
      #{merchantCode,jdbcType=VARCHAR}, #{merchantName,jdbcType=VARCHAR}, #{licence,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR},#{status}
      )
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.fc.pay.trade.entity.Merchant" >
    insert into merchant
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="editor != null" >
        editor,
      </if>
      <if test="editTime != null" >
        edit_time,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="merchantCode != null" >
        merchant_code,
      </if>
      <if test="merchantName != null" >
        merchant_name,
      </if>
      <if test="licence != null" >
        licence,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="status != null" >
        status
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editor != null" >
        #{editor,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null" >
        #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="merchantCode != null" >
        #{merchantCode,jdbcType=VARCHAR},
      </if>
      <if test="merchantName != null" >
        #{merchantName,jdbcType=VARCHAR},
      </if>
      <if test="licence != null" >
        #{licence,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status}
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fc.pay.trade.entity.Merchant" >
    update merchant
    <set >
      <if test="creater != null" >
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editor != null" >
        editor = #{editor,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null" >
        edit_time = #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="merchantCode != null" >
        merchant_code = #{merchantCode,jdbcType=VARCHAR},
      </if>
      <if test="merchantName != null" >
        merchant_name = #{merchantName,jdbcType=VARCHAR},
      </if>
      <if test="licence != null" >
        licence = #{licence,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status}
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fc.pay.trade.entity.Merchant" >
    update merchant
    set creater = #{creater,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      editor = #{editor,jdbcType=VARCHAR},
      edit_time = #{editTime,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=INTEGER},
      merchant_code = #{merchantCode,jdbcType=VARCHAR},
      merchant_name = #{merchantName,jdbcType=VARCHAR},
      licence = #{licence,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
      status = #{status}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <!-- 查询分页数据 -->
  <select id="pageList" parameterType="Map" resultMap="BaseResultMap">
  		select 
  		<include refid="Base_Column_List" />
  	 	from merchant
  </select>
  
  <!-- 获取最大商户编码 -->
  <select id="selectMaxCode" resultType="String">
  	SELECT MAX(merchant_code) FROM merchant
  </select>
  
  <!-- 查看指定编码的记录是否存在 -->
  <select id="selectCountCode" parameterType="String" resultType="Integer">
  	SELECT COUNT(1) FROM merchant WHERE merchant_code = #{merchantCode}
  </select>
</mapper>