<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fc.pay.trade.dao.NotifyRecordMapper" >
  <resultMap id="BaseResultMap" type="com.fc.pay.trade.entity.NotifyRecord" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="creater" property="creater" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="editor" property="editor" jdbcType="VARCHAR" />
    <result column="edit_time" property="editTime" jdbcType="TIMESTAMP" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="channel" property="channel" jdbcType="VARCHAR" />
    <result column="pay_type" property="payType" jdbcType="VARCHAR" />
    <result column="merchant_app_code" property="merchantAppCode" jdbcType="VARCHAR" />
    <result column="merchant_app_name" property="merchantAppName" jdbcType="VARCHAR" />
    <result column="merchant_order_no" property="merchantOrderNo" jdbcType="VARCHAR" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="refund_no" property="refundNo" jdbcType="VARCHAR" />
    <result column="notify_id" property="notifyId" jdbcType="VARCHAR" />
    <result column="notify_type" property="notifyType" jdbcType="VARCHAR" />
    <result column="notify_times" property="notifyTimes" jdbcType="INTEGER" />
    <result column="notify_times_limit" property="notifyTimesLimit" jdbcType="INTEGER" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="request" property="request" jdbcType="VARCHAR" />
    <result column="response" property="response" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, creater, create_time, editor, edit_time, version, channel, pay_type, merchant_app_code, 
    merchant_app_name, merchant_order_no, order_no, refund_no, notify_id, notify_type, 
    notify_times, notify_times_limit, url, request, response, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from notify_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from notify_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.fc.pay.trade.entity.NotifyRecord" >
    insert into notify_record (id, creater, create_time, 
      editor, edit_time, version, 
      channel, pay_type, merchant_app_code, 
      merchant_app_name, merchant_order_no, order_no, 
      refund_no, notify_id, notify_type, 
      notify_times, notify_times_limit, url, 
      request, response, status
      )
    values (#{id,jdbcType=BIGINT}, #{creater,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{editor,jdbcType=VARCHAR}, #{editTime,jdbcType=TIMESTAMP}, #{version,jdbcType=INTEGER}, 
      #{channel,jdbcType=VARCHAR}, #{payType,jdbcType=VARCHAR}, #{merchantAppCode,jdbcType=VARCHAR}, 
      #{merchantAppName,jdbcType=VARCHAR}, #{merchantOrderNo,jdbcType=VARCHAR}, #{orderNo,jdbcType=VARCHAR}, 
      #{refundNo,jdbcType=VARCHAR}, #{notifyId,jdbcType=VARCHAR}, #{notifyType,jdbcType=VARCHAR}, 
      #{notifyTimes,jdbcType=INTEGER}, #{notifyTimesLimit,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR}, 
      #{request,jdbcType=VARCHAR}, #{response,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fc.pay.trade.entity.NotifyRecord" >
    insert into notify_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="editor != null" >
        editor,
      </if>
      <if test="editTime != null" >
        edit_time,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="channel != null" >
        channel,
      </if>
      <if test="payType != null" >
        pay_type,
      </if>
      <if test="merchantAppCode != null" >
        merchant_app_code,
      </if>
      <if test="merchantAppName != null" >
        merchant_app_name,
      </if>
      <if test="merchantOrderNo != null" >
        merchant_order_no,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="refundNo != null" >
        refund_no,
      </if>
      <if test="notifyId != null" >
        notify_id,
      </if>
      <if test="notifyType != null" >
        notify_type,
      </if>
      <if test="notifyTimes != null" >
        notify_times,
      </if>
      <if test="notifyTimesLimit != null" >
        notify_times_limit,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="request != null" >
        request,
      </if>
      <if test="response != null" >
        response,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editor != null" >
        #{editor,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null" >
        #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="channel != null" >
        #{channel,jdbcType=VARCHAR},
      </if>
      <if test="payType != null" >
        #{payType,jdbcType=VARCHAR},
      </if>
      <if test="merchantAppCode != null" >
        #{merchantAppCode,jdbcType=VARCHAR},
      </if>
      <if test="merchantAppName != null" >
        #{merchantAppName,jdbcType=VARCHAR},
      </if>
      <if test="merchantOrderNo != null" >
        #{merchantOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="refundNo != null" >
        #{refundNo,jdbcType=VARCHAR},
      </if>
      <if test="notifyId != null" >
        #{notifyId,jdbcType=VARCHAR},
      </if>
      <if test="notifyType != null" >
        #{notifyType,jdbcType=VARCHAR},
      </if>
      <if test="notifyTimes != null" >
        #{notifyTimes,jdbcType=INTEGER},
      </if>
      <if test="notifyTimesLimit != null" >
        #{notifyTimesLimit,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="request != null" >
        #{request,jdbcType=VARCHAR},
      </if>
      <if test="response != null" >
        #{response,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fc.pay.trade.entity.NotifyRecord" >
    update notify_record
    <set >
      <if test="creater != null" >
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editor != null" >
        editor = #{editor,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null" >
        edit_time = #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="channel != null" >
        channel = #{channel,jdbcType=VARCHAR},
      </if>
      <if test="payType != null" >
        pay_type = #{payType,jdbcType=VARCHAR},
      </if>
      <if test="merchantAppCode != null" >
        merchant_app_code = #{merchantAppCode,jdbcType=VARCHAR},
      </if>
      <if test="merchantAppName != null" >
        merchant_app_name = #{merchantAppName,jdbcType=VARCHAR},
      </if>
      <if test="merchantOrderNo != null" >
        merchant_order_no = #{merchantOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="refundNo != null" >
        refund_no = #{refundNo,jdbcType=VARCHAR},
      </if>
      <if test="notifyId != null" >
        notify_id = #{notifyId,jdbcType=VARCHAR},
      </if>
      <if test="notifyType != null" >
        notify_type = #{notifyType,jdbcType=VARCHAR},
      </if>
      <if test="notifyTimes != null" >
        notify_times = #{notifyTimes,jdbcType=INTEGER},
      </if>
      <if test="notifyTimesLimit != null" >
        notify_times_limit = #{notifyTimesLimit,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="request != null" >
        request = #{request,jdbcType=VARCHAR},
      </if>
      <if test="response != null" >
        response = #{response,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fc.pay.trade.entity.NotifyRecord" >
    update notify_record
    set creater = #{creater,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      editor = #{editor,jdbcType=VARCHAR},
      edit_time = #{editTime,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=INTEGER},
      channel = #{channel,jdbcType=VARCHAR},
      pay_type = #{payType,jdbcType=VARCHAR},
      merchant_app_code = #{merchantAppCode,jdbcType=VARCHAR},
      merchant_app_name = #{merchantAppName,jdbcType=VARCHAR},
      merchant_order_no = #{merchantOrderNo,jdbcType=VARCHAR},
      order_no = #{orderNo,jdbcType=VARCHAR},
      refund_no = #{refundNo,jdbcType=VARCHAR},
      notify_id = #{notifyId,jdbcType=VARCHAR},
      notify_type = #{notifyType,jdbcType=VARCHAR},
      notify_times = #{notifyTimes,jdbcType=INTEGER},
      notify_times_limit = #{notifyTimesLimit,jdbcType=INTEGER},
      url = #{url,jdbcType=VARCHAR},
      request = #{request,jdbcType=VARCHAR},
      response = #{response,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  
  
  <sql id="condition_sql">
  		<if test="order_no != null"> and order_no = #{order_no,jdbcType=VARCHAR}</if>
  		<if test="refund_no != null"> and refund_no = #{refund_no,jdbcType=VARCHAR}</if>
  		<if test="notify_times != null"> and notify_times &lt;= #{notify_times,jdbcType=INTEGER}</if>
  		<if test="status != null"> and status = #{status,jdbcType=INTEGER}</if>
  		<if test="channel != null"> and channel = #{channel,jdbcType=VARCHAR}</if>
  		<if test="merchant_app_code != null"> and merchant_app_code = #{merchant_app_code,jdbcType=VARCHAR}</if>
  		<if test="pay_type != null"> and pay_type = #{pay_type,jdbcType=VARCHAR}</if>
  		<if test="limit != null"> limit ${limit}</if>
  </sql>
  
  <select id="selectByMap" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from notify_record
    <where>
			<include refid="condition_sql" />
	</where>
  </select>
  
</mapper>