<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fc.pay.trade.dao.PayPaymentOrderMapper" >
  <resultMap id="BaseResultMap" type="com.fc.pay.trade.entity.PayPaymentOrder" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="creater" property="creater" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="editor" property="editor" jdbcType="VARCHAR" />
    <result column="edit_time" property="editTime" jdbcType="TIMESTAMP" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="merchant_code" property="merchantCode" jdbcType="VARCHAR" />
    <result column="merchant_name" property="merchantName" jdbcType="VARCHAR" />
    <result column="merchant_app_code" property="merchantAppCode" jdbcType="VARCHAR" />
    <result column="merchant_app_name" property="merchantAppName" jdbcType="VARCHAR" />
    <result column="channel_app_id" property="channelAppId" jdbcType="VARCHAR" />
    <result column="channel_merchant_id" property="channelMerchantId" jdbcType="VARCHAR" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="merchant_order_no" property="merchantOrderNo" jdbcType="VARCHAR" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="channel" property="channel" jdbcType="VARCHAR" />
    <result column="pay_way" property="payWay" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="return_url" property="returnUrl" jdbcType="VARCHAR" />
    <result column="notify_url" property="notifyUrl" jdbcType="VARCHAR" />
    <result column="order_time" property="orderTime" jdbcType="TIMESTAMP" />
    <result column="order_ip" property="orderIp" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="close_reason" property="closeReason" jdbcType="VARCHAR" />
    <result column="success_reason" property="successReason" jdbcType="VARCHAR" />
    <result column="finish_time" property="finishTime" jdbcType="TIMESTAMP" />
    <result column="trade_no" property="tradeNo" jdbcType="VARCHAR" />
    <result column="buyer_id" property="buyerId" jdbcType="VARCHAR" />
    <result column="time_out" property="timeOut" jdbcType="INTEGER" />
    <result column="time_expire" property="timeExpire" jdbcType="TIMESTAMP" />
    <result column="bill_status" property="billStatus" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, creater, create_time, editor, edit_time, version, merchant_code, merchant_name, 
    merchant_app_code, merchant_app_name, channel_app_id, channel_merchant_id, order_no, 
    merchant_order_no, product_name, channel, pay_way, amount, return_url, notify_url, 
    order_time, order_ip, remark, status, close_reason, success_reason, finish_time, 
    trade_no, buyer_id, time_out, time_expire, bill_status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from pay_payment_order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from pay_payment_order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.fc.pay.trade.entity.PayPaymentOrder" >
    insert into pay_payment_order (id, creater, create_time, 
      editor, edit_time, version, 
      merchant_code, merchant_name, merchant_app_code, 
      merchant_app_name, channel_app_id, channel_merchant_id, 
      order_no, merchant_order_no, product_name, 
      channel, pay_way, amount, 
      return_url, notify_url, order_time, 
      order_ip, remark, status, 
      close_reason, success_reason, finish_time, 
      trade_no, buyer_id, time_out, 
      time_expire, bill_status)
    values (#{id,jdbcType=BIGINT}, #{creater,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{editor,jdbcType=VARCHAR}, #{editTime,jdbcType=TIMESTAMP}, #{version,jdbcType=INTEGER}, 
      #{merchantCode,jdbcType=VARCHAR}, #{merchantName,jdbcType=VARCHAR}, #{merchantAppCode,jdbcType=VARCHAR}, 
      #{merchantAppName,jdbcType=VARCHAR}, #{channelAppId,jdbcType=VARCHAR}, #{channelMerchantId,jdbcType=VARCHAR}, 
      #{orderNo,jdbcType=VARCHAR}, #{merchantOrderNo,jdbcType=VARCHAR}, #{productName,jdbcType=VARCHAR}, 
      #{channel,jdbcType=VARCHAR}, #{payWay,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL}, 
      #{returnUrl,jdbcType=VARCHAR}, #{notifyUrl,jdbcType=VARCHAR}, #{orderTime,jdbcType=TIMESTAMP}, 
      #{orderIp,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{closeReason,jdbcType=VARCHAR}, #{successReason,jdbcType=VARCHAR}, #{finishTime,jdbcType=TIMESTAMP}, 
      #{tradeNo,jdbcType=VARCHAR}, #{buyerId,jdbcType=VARCHAR}, #{timeOut,jdbcType=INTEGER}, 
      #{timeExpire,jdbcType=TIMESTAMP}, #{billStatus,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.fc.pay.trade.entity.PayPaymentOrder" >
    insert into pay_payment_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="editor != null" >
        editor,
      </if>
      <if test="editTime != null" >
        edit_time,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="merchantCode != null" >
        merchant_code,
      </if>
      <if test="merchantName != null" >
        merchant_name,
      </if>
      <if test="merchantAppCode != null" >
        merchant_app_code,
      </if>
      <if test="merchantAppName != null" >
        merchant_app_name,
      </if>
      <if test="channelAppId != null" >
        channel_app_id,
      </if>
      <if test="channelMerchantId != null" >
        channel_merchant_id,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="merchantOrderNo != null" >
        merchant_order_no,
      </if>
      <if test="productName != null" >
        product_name,
      </if>
      <if test="channel != null" >
        channel,
      </if>
      <if test="payWay != null" >
        pay_way,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="returnUrl != null" >
        return_url,
      </if>
      <if test="notifyUrl != null" >
        notify_url,
      </if>
      <if test="orderTime != null" >
        order_time,
      </if>
      <if test="orderIp != null" >
        order_ip,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="closeReason != null" >
        close_reason,
      </if>
      <if test="successReason != null" >
        success_reason,
      </if>
      <if test="finishTime != null" >
        finish_time,
      </if>
      <if test="tradeNo != null" >
        trade_no,
      </if>
      <if test="buyerId != null" >
        buyer_id,
      </if>
      <if test="timeOut != null" >
        time_out,
      </if>
      <if test="timeExpire != null" >
        time_expire,
      </if>
      <if test="billStatus != null" >
        bill_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editor != null" >
        #{editor,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null" >
        #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="merchantCode != null" >
        #{merchantCode,jdbcType=VARCHAR},
      </if>
      <if test="merchantName != null" >
        #{merchantName,jdbcType=VARCHAR},
      </if>
      <if test="merchantAppCode != null" >
        #{merchantAppCode,jdbcType=VARCHAR},
      </if>
      <if test="merchantAppName != null" >
        #{merchantAppName,jdbcType=VARCHAR},
      </if>
      <if test="channelAppId != null" >
        #{channelAppId,jdbcType=VARCHAR},
      </if>
      <if test="channelMerchantId != null" >
        #{channelMerchantId,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="merchantOrderNo != null" >
        #{merchantOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="channel != null" >
        #{channel,jdbcType=VARCHAR},
      </if>
      <if test="payWay != null" >
        #{payWay,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="returnUrl != null" >
        #{returnUrl,jdbcType=VARCHAR},
      </if>
      <if test="notifyUrl != null" >
        #{notifyUrl,jdbcType=VARCHAR},
      </if>
      <if test="orderTime != null" >
        #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderIp != null" >
        #{orderIp,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="closeReason != null" >
        #{closeReason,jdbcType=VARCHAR},
      </if>
      <if test="successReason != null" >
        #{successReason,jdbcType=VARCHAR},
      </if>
      <if test="finishTime != null" >
        #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tradeNo != null" >
        #{tradeNo,jdbcType=VARCHAR},
      </if>
      <if test="buyerId != null" >
        #{buyerId,jdbcType=VARCHAR},
      </if>
      <if test="timeOut != null" >
        #{timeOut,jdbcType=INTEGER},
      </if>
      <if test="timeExpire != null" >
        #{timeExpire,jdbcType=TIMESTAMP},
      </if>
      <if test="billStatus != null" >
        #{billStatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fc.pay.trade.entity.PayPaymentOrder" >
    update pay_payment_order
    <set >
      <if test="creater != null" >
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editor != null" >
        editor = #{editor,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null" >
        edit_time = #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="merchantCode != null" >
        merchant_code = #{merchantCode,jdbcType=VARCHAR},
      </if>
      <if test="merchantName != null" >
        merchant_name = #{merchantName,jdbcType=VARCHAR},
      </if>
      <if test="merchantAppCode != null" >
        merchant_app_code = #{merchantAppCode,jdbcType=VARCHAR},
      </if>
      <if test="merchantAppName != null" >
        merchant_app_name = #{merchantAppName,jdbcType=VARCHAR},
      </if>
      <if test="channelAppId != null" >
        channel_app_id = #{channelAppId,jdbcType=VARCHAR},
      </if>
      <if test="channelMerchantId != null" >
        channel_merchant_id = #{channelMerchantId,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="merchantOrderNo != null" >
        merchant_order_no = #{merchantOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="channel != null" >
        channel = #{channel,jdbcType=VARCHAR},
      </if>
      <if test="payWay != null" >
        pay_way = #{payWay,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="returnUrl != null" >
        return_url = #{returnUrl,jdbcType=VARCHAR},
      </if>
      <if test="notifyUrl != null" >
        notify_url = #{notifyUrl,jdbcType=VARCHAR},
      </if>
      <if test="orderTime != null" >
        order_time = #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderIp != null" >
        order_ip = #{orderIp,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="closeReason != null" >
        close_reason = #{closeReason,jdbcType=VARCHAR},
      </if>
      <if test="successReason != null" >
        success_reason = #{successReason,jdbcType=VARCHAR},
      </if>
      <if test="finishTime != null" >
        finish_time = #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tradeNo != null" >
        trade_no = #{tradeNo,jdbcType=VARCHAR},
      </if>
      <if test="buyerId != null" >
        buyer_id = #{buyerId,jdbcType=VARCHAR},
      </if>
      <if test="timeOut != null" >
        time_out = #{timeOut,jdbcType=INTEGER},
      </if>
      <if test="timeExpire != null" >
        time_expire = #{timeExpire,jdbcType=TIMESTAMP},
      </if>
      <if test="billStatus != null" >
        bill_status = #{billStatus,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fc.pay.trade.entity.PayPaymentOrder" >
    update pay_payment_order
    set creater = #{creater,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      editor = #{editor,jdbcType=VARCHAR},
      edit_time = #{editTime,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=INTEGER},
      merchant_code = #{merchantCode,jdbcType=VARCHAR},
      merchant_name = #{merchantName,jdbcType=VARCHAR},
      merchant_app_code = #{merchantAppCode,jdbcType=VARCHAR},
      merchant_app_name = #{merchantAppName,jdbcType=VARCHAR},
      channel_app_id = #{channelAppId,jdbcType=VARCHAR},
      channel_merchant_id = #{channelMerchantId,jdbcType=VARCHAR},
      order_no = #{orderNo,jdbcType=VARCHAR},
      merchant_order_no = #{merchantOrderNo,jdbcType=VARCHAR},
      product_name = #{productName,jdbcType=VARCHAR},
      channel = #{channel,jdbcType=VARCHAR},
      pay_way = #{payWay,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DECIMAL},
      return_url = #{returnUrl,jdbcType=VARCHAR},
      notify_url = #{notifyUrl,jdbcType=VARCHAR},
      order_time = #{orderTime,jdbcType=TIMESTAMP},
      order_ip = #{orderIp,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      close_reason = #{closeReason,jdbcType=VARCHAR},
      success_reason = #{successReason,jdbcType=VARCHAR},
      finish_time = #{finishTime,jdbcType=TIMESTAMP},
      trade_no = #{tradeNo,jdbcType=VARCHAR},
      buyer_id = #{buyerId,jdbcType=VARCHAR},
      time_out = #{timeOut,jdbcType=INTEGER},
      time_expire = #{timeExpire,jdbcType=TIMESTAMP},
      bill_status = #{billStatus,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  
  <sql id="condition_sql">
  		<if test="order_no != null and order_no != ''"> and order_no = #{order_no,jdbcType=VARCHAR}</if>
		<if test="merchant_order_no != null and merchant_order_no != ''"> and merchant_order_no = #{merchant_order_no,jdbcType=VARCHAR}</if>
		<if test="trade_no != null and trade_no != ''"> and trade_no = #{trade_no,jdbcType=VARCHAR}</if>
		<if test="status != null and status != ''"> and status = #{status,jdbcType=VARCHAR}</if>
		<if test="channel != null and channel != ''"> and channel = #{channel,jdbcType=VARCHAR}</if>
		<if test="merchant_name != null and merchant_name != ''"> and merchant_name like "%"#{merchant_name,jdbcType=VARCHAR}"%"</if>
		<if test="merchant_app_name != null and merchant_app_name != ''"> and merchant_app_name like "%"#{merchant_app_name,jdbcType=VARCHAR}"%"</if>
		<if test="merchant_app_code != null and merchant_app_code != ''"> and merchant_app_code = #{merchant_app_code,jdbcType=VARCHAR}</if>
		<if test="buyer_id != null and buyer_id != ''"> and buyer_id like "%"#{buyer_id,jdbcType=VARCHAR}"%"</if>
		<if test="bill_status != null and bill_status != ''"> and bill_status = #{bill_status,jdbcType=VARCHAR}</if>
		<if test="time_expire != null and time_expire != ''"> and time_expire &lt;= #{time_expire}</if>
		
		<choose>
			<when test="(startDate != null and startDate != '') and (endDate != null and endDate != '')">
				and order_time between #{startDate} and #{endDate}
			</when>
			<when test="(startDate != null and startDate != '')">
				and order_time <![CDATA[>=]]> #{startDate}
			</when>
			<when test="(endDate != null and endDate != '')">
				and order_time <![CDATA[<=]]> #{endDate}
			</when>
		</choose>
  </sql>
  <select id="selectByMap" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from pay_payment_order
    <where>
			<include refid="condition_sql" />
	</where>
  </select>
  
  <sql id="bill_condition_sql">    	
		<if test="channel != null"> and channel = #{channel,jdbcType=VARCHAR}</if>
		<if test="channelMerchantId != null and channelMerchantId != '' "> and channel_merchant_id = #{channelMerchantId,jdbcType=VARCHAR}</if>
		<if test="channelAppId != null and channelAppId != '' "> and channel_app_id = #{channelAppId,jdbcType=VARCHAR}</if>		
		<if test="startTime != null and startTime != '' and endTime != null and endTime != '' "> and date_format(create_time,'%Y%m%d%H%i%s') between #{startTime} AND #{endTime}</if>
		<if test="status != null"> and status = #{status,jdbcType=VARCHAR}</if>
  </sql>
  <select id="selectForBill" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from pay_payment_order
    <where>
		<include refid="bill_condition_sql" />
	</where>
  </select>
  
  <update id="updateBillStatus" parameterType="java.util.Map" >
  	update pay_payment_order
  		set bill_status = #{billStatus}
  	where
  		order_no in 
  		(
  			${orderNoInCondition}
  		)
  </update>
  
  <update id="updateBillStatusSingle">
  	update pay_payment_order
  	   set bill_status = #{billStatus,jdbcType=VARCHAR}
  	 where order_no = #{orderNo,jdbcType=VARCHAR}
  </update>
  
  <select id="pageByMap" resultMap="BaseResultMap" parameterType="java.util.Map">
   select 
    <include refid="Base_Column_List" />
    from pay_payment_order
    <where>
		<include refid="condition_sql" />
	</where>
  </select>
  
</mapper>