<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fc.pay.trade.dao.PayRefundOrderMapper" >
  <resultMap id="BaseResultMap" type="com.fc.pay.trade.entity.PayRefundOrder" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="creater" property="creater" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="editor" property="editor" jdbcType="VARCHAR" />
    <result column="edit_time" property="editTime" jdbcType="TIMESTAMP" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="merchant_code" property="merchantCode" jdbcType="VARCHAR" />
    <result column="merchant_name" property="merchantName" jdbcType="VARCHAR" />
    <result column="merchant_app_code" property="merchantAppCode" jdbcType="VARCHAR" />
    <result column="merchant_app_name" property="merchantAppName" jdbcType="VARCHAR" />
    <result column="channel_app_id" property="channelAppId" jdbcType="VARCHAR" />
    <result column="channel_merchant_id" property="channelMerchantId" jdbcType="VARCHAR" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="merchant_order_no" property="merchantOrderNo" jdbcType="VARCHAR" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="channel" property="channel" jdbcType="VARCHAR" />
    <result column="pay_way" property="payWay" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="order_time" property="orderTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="finish_time" property="finishTime" jdbcType="TIMESTAMP" />
    <result column="trade_no" property="tradeNo" jdbcType="VARCHAR" />
    <result column="buyer_id" property="buyerId" jdbcType="VARCHAR" />
    <result column="refund_no" property="refundNo" jdbcType="VARCHAR" />
    <result column="refund_merchant_no" property="refundMerchantNo" jdbcType="VARCHAR" />
    <result column="refund_reason" property="refundReason" jdbcType="VARCHAR" />
    <result column="refund_amount" property="refundAmount" jdbcType="DECIMAL" />
    <result column="refund_time" property="refundTime" jdbcType="TIMESTAMP" />
    <result column="refund_status" property="refundStatus" jdbcType="VARCHAR" />
    <result column="refund_faile_reason" property="refundFaileReason" jdbcType="VARCHAR" />
    <result column="refund_success_reason" property="refundSuccessReason" jdbcType="VARCHAR" />
    <result column="refund_finish_time" property="refundFinishTime" jdbcType="TIMESTAMP" />
    <result column="refund_buyer_id" property="refundBuyerId" jdbcType="VARCHAR" />
    <result column="refund_trade_no" property="refundTradeNo" jdbcType="VARCHAR" />
    <result column="refund_remark" property="refundRemark" jdbcType="VARCHAR" />
    <result column="bill_status" property="billStatus" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, creater, create_time, editor, edit_time, version, merchant_code, merchant_name, 
    merchant_app_code, merchant_app_name, channel_app_id, channel_merchant_id, order_no, 
    merchant_order_no, product_name, channel, pay_way, amount, order_time, remark, status, 
    finish_time, trade_no, buyer_id, refund_no, refund_merchant_no, refund_reason, refund_amount, 
    refund_time, refund_status, refund_faile_reason, refund_success_reason, refund_finish_time, 
    refund_buyer_id, refund_trade_no, refund_remark, bill_status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from pay_refund_order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from pay_refund_order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id"  parameterType="com.fc.pay.trade.entity.PayRefundOrder" >
    insert into pay_refund_order (id, creater, create_time, 
      editor, edit_time, version, 
      merchant_code, merchant_name, merchant_app_code, 
      merchant_app_name, channel_app_id, channel_merchant_id, 
      order_no, merchant_order_no, product_name, 
      channel, pay_way, amount, 
      order_time, remark, status, 
      finish_time, trade_no, buyer_id, 
      refund_no, refund_merchant_no, refund_reason, 
      refund_amount, refund_time, refund_status, 
      refund_faile_reason, refund_success_reason, 
      refund_finish_time, refund_buyer_id, refund_trade_no, 
      refund_remark, bill_status)
    values (#{id,jdbcType=BIGINT}, #{creater,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{editor,jdbcType=VARCHAR}, #{editTime,jdbcType=TIMESTAMP}, #{version,jdbcType=INTEGER}, 
      #{merchantCode,jdbcType=VARCHAR}, #{merchantName,jdbcType=VARCHAR}, #{merchantAppCode,jdbcType=VARCHAR}, 
      #{merchantAppName,jdbcType=VARCHAR}, #{channelAppId,jdbcType=VARCHAR}, #{channelMerchantId,jdbcType=VARCHAR}, 
      #{orderNo,jdbcType=VARCHAR}, #{merchantOrderNo,jdbcType=VARCHAR}, #{productName,jdbcType=VARCHAR}, 
      #{channel,jdbcType=VARCHAR}, #{payWay,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL}, 
      #{orderTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{finishTime,jdbcType=TIMESTAMP}, #{tradeNo,jdbcType=VARCHAR}, #{buyerId,jdbcType=VARCHAR}, 
      #{refundNo,jdbcType=VARCHAR}, #{refundMerchantNo,jdbcType=VARCHAR}, #{refundReason,jdbcType=VARCHAR}, 
      #{refundAmount,jdbcType=DECIMAL}, #{refundTime,jdbcType=TIMESTAMP}, #{refundStatus,jdbcType=VARCHAR}, 
      #{refundFaileReason,jdbcType=VARCHAR}, #{refundSuccessReason,jdbcType=VARCHAR}, 
      #{refundFinishTime,jdbcType=TIMESTAMP}, #{refundBuyerId,jdbcType=VARCHAR}, #{refundTradeNo,jdbcType=VARCHAR}, 
      #{refundRemark,jdbcType=VARCHAR}, #{billStatus,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id"  parameterType="com.fc.pay.trade.entity.PayRefundOrder" >
    insert into pay_refund_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="editor != null" >
        editor,
      </if>
      <if test="editTime != null" >
        edit_time,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="merchantCode != null" >
        merchant_code,
      </if>
      <if test="merchantName != null" >
        merchant_name,
      </if>
      <if test="merchantAppCode != null" >
        merchant_app_code,
      </if>
      <if test="merchantAppName != null" >
        merchant_app_name,
      </if>
      <if test="channelAppId != null" >
        channel_app_id,
      </if>
      <if test="channelMerchantId != null" >
        channel_merchant_id,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="merchantOrderNo != null" >
        merchant_order_no,
      </if>
      <if test="productName != null" >
        product_name,
      </if>
      <if test="channel != null" >
        channel,
      </if>
      <if test="payWay != null" >
        pay_way,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="orderTime != null" >
        order_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="finishTime != null" >
        finish_time,
      </if>
      <if test="tradeNo != null" >
        trade_no,
      </if>
      <if test="buyerId != null" >
        buyer_id,
      </if>
      <if test="refundNo != null" >
        refund_no,
      </if>
      <if test="refundMerchantNo != null" >
        refund_merchant_no,
      </if>
      <if test="refundReason != null" >
        refund_reason,
      </if>
      <if test="refundAmount != null" >
        refund_amount,
      </if>
      <if test="refundTime != null" >
        refund_time,
      </if>
      <if test="refundStatus != null" >
        refund_status,
      </if>
      <if test="refundFaileReason != null" >
        refund_faile_reason,
      </if>
      <if test="refundSuccessReason != null" >
        refund_success_reason,
      </if>
      <if test="refundFinishTime != null" >
        refund_finish_time,
      </if>
      <if test="refundBuyerId != null" >
        refund_buyer_id,
      </if>
      <if test="refundTradeNo != null" >
        refund_trade_no,
      </if>
      <if test="refundRemark != null" >
        refund_remark,
      </if>
      <if test="billStatus != null" >
        bill_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editor != null" >
        #{editor,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null" >
        #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="merchantCode != null" >
        #{merchantCode,jdbcType=VARCHAR},
      </if>
      <if test="merchantName != null" >
        #{merchantName,jdbcType=VARCHAR},
      </if>
      <if test="merchantAppCode != null" >
        #{merchantAppCode,jdbcType=VARCHAR},
      </if>
      <if test="merchantAppName != null" >
        #{merchantAppName,jdbcType=VARCHAR},
      </if>
      <if test="channelAppId != null" >
        #{channelAppId,jdbcType=VARCHAR},
      </if>
      <if test="channelMerchantId != null" >
        #{channelMerchantId,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="merchantOrderNo != null" >
        #{merchantOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="channel != null" >
        #{channel,jdbcType=VARCHAR},
      </if>
      <if test="payWay != null" >
        #{payWay,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="orderTime != null" >
        #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="finishTime != null" >
        #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tradeNo != null" >
        #{tradeNo,jdbcType=VARCHAR},
      </if>
      <if test="buyerId != null" >
        #{buyerId,jdbcType=VARCHAR},
      </if>
      <if test="refundNo != null" >
        #{refundNo,jdbcType=VARCHAR},
      </if>
      <if test="refundMerchantNo != null" >
        #{refundMerchantNo,jdbcType=VARCHAR},
      </if>
      <if test="refundReason != null" >
        #{refundReason,jdbcType=VARCHAR},
      </if>
      <if test="refundAmount != null" >
        #{refundAmount,jdbcType=DECIMAL},
      </if>
      <if test="refundTime != null" >
        #{refundTime,jdbcType=TIMESTAMP},
      </if>
      <if test="refundStatus != null" >
        #{refundStatus,jdbcType=VARCHAR},
      </if>
      <if test="refundFaileReason != null" >
        #{refundFaileReason,jdbcType=VARCHAR},
      </if>
      <if test="refundSuccessReason != null" >
        #{refundSuccessReason,jdbcType=VARCHAR},
      </if>
      <if test="refundFinishTime != null" >
        #{refundFinishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="refundBuyerId != null" >
        #{refundBuyerId,jdbcType=VARCHAR},
      </if>
      <if test="refundTradeNo != null" >
        #{refundTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="refundRemark != null" >
        #{refundRemark,jdbcType=VARCHAR},
      </if>
      <if test="billStatus != null" >
        #{billStatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fc.pay.trade.entity.PayRefundOrder" >
    update pay_refund_order
    <set >
      <if test="creater != null" >
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editor != null" >
        editor = #{editor,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null" >
        edit_time = #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="merchantCode != null" >
        merchant_code = #{merchantCode,jdbcType=VARCHAR},
      </if>
      <if test="merchantName != null" >
        merchant_name = #{merchantName,jdbcType=VARCHAR},
      </if>
      <if test="merchantAppCode != null" >
        merchant_app_code = #{merchantAppCode,jdbcType=VARCHAR},
      </if>
      <if test="merchantAppName != null" >
        merchant_app_name = #{merchantAppName,jdbcType=VARCHAR},
      </if>
      <if test="channelAppId != null" >
        channel_app_id = #{channelAppId,jdbcType=VARCHAR},
      </if>
      <if test="channelMerchantId != null" >
        channel_merchant_id = #{channelMerchantId,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="merchantOrderNo != null" >
        merchant_order_no = #{merchantOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="channel != null" >
        channel = #{channel,jdbcType=VARCHAR},
      </if>
      <if test="payWay != null" >
        pay_way = #{payWay,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="orderTime != null" >
        order_time = #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="finishTime != null" >
        finish_time = #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tradeNo != null" >
        trade_no = #{tradeNo,jdbcType=VARCHAR},
      </if>
      <if test="buyerId != null" >
        buyer_id = #{buyerId,jdbcType=VARCHAR},
      </if>
      <if test="refundNo != null" >
        refund_no = #{refundNo,jdbcType=VARCHAR},
      </if>
      <if test="refundMerchantNo != null" >
        refund_merchant_no = #{refundMerchantNo,jdbcType=VARCHAR},
      </if>
      <if test="refundReason != null" >
        refund_reason = #{refundReason,jdbcType=VARCHAR},
      </if>
      <if test="refundAmount != null" >
        refund_amount = #{refundAmount,jdbcType=DECIMAL},
      </if>
      <if test="refundTime != null" >
        refund_time = #{refundTime,jdbcType=TIMESTAMP},
      </if>
      <if test="refundStatus != null" >
        refund_status = #{refundStatus,jdbcType=VARCHAR},
      </if>
      <if test="refundFaileReason != null" >
        refund_faile_reason = #{refundFaileReason,jdbcType=VARCHAR},
      </if>
      <if test="refundSuccessReason != null" >
        refund_success_reason = #{refundSuccessReason,jdbcType=VARCHAR},
      </if>
      <if test="refundFinishTime != null" >
        refund_finish_time = #{refundFinishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="refundBuyerId != null" >
        refund_buyer_id = #{refundBuyerId,jdbcType=VARCHAR},
      </if>
      <if test="refundTradeNo != null" >
        refund_trade_no = #{refundTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="refundRemark != null" >
        refund_remark = #{refundRemark,jdbcType=VARCHAR},
      </if>
      <if test="billStatus != null" >
        bill_status = #{billStatus,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fc.pay.trade.entity.PayRefundOrder" >
    update pay_refund_order
    set creater = #{creater,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      editor = #{editor,jdbcType=VARCHAR},
      edit_time = #{editTime,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=INTEGER},
      merchant_code = #{merchantCode,jdbcType=VARCHAR},
      merchant_name = #{merchantName,jdbcType=VARCHAR},
      merchant_app_code = #{merchantAppCode,jdbcType=VARCHAR},
      merchant_app_name = #{merchantAppName,jdbcType=VARCHAR},
      channel_app_id = #{channelAppId,jdbcType=VARCHAR},
      channel_merchant_id = #{channelMerchantId,jdbcType=VARCHAR},
      order_no = #{orderNo,jdbcType=VARCHAR},
      merchant_order_no = #{merchantOrderNo,jdbcType=VARCHAR},
      product_name = #{productName,jdbcType=VARCHAR},
      channel = #{channel,jdbcType=VARCHAR},
      pay_way = #{payWay,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DECIMAL},
      order_time = #{orderTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      finish_time = #{finishTime,jdbcType=TIMESTAMP},
      trade_no = #{tradeNo,jdbcType=VARCHAR},
      buyer_id = #{buyerId,jdbcType=VARCHAR},
      refund_no = #{refundNo,jdbcType=VARCHAR},
      refund_merchant_no = #{refundMerchantNo,jdbcType=VARCHAR},
      refund_reason = #{refundReason,jdbcType=VARCHAR},
      refund_amount = #{refundAmount,jdbcType=DECIMAL},
      refund_time = #{refundTime,jdbcType=TIMESTAMP},
      refund_status = #{refundStatus,jdbcType=VARCHAR},
      refund_faile_reason = #{refundFaileReason,jdbcType=VARCHAR},
      refund_success_reason = #{refundSuccessReason,jdbcType=VARCHAR},
      refund_finish_time = #{refundFinishTime,jdbcType=TIMESTAMP},
      refund_buyer_id = #{refundBuyerId,jdbcType=VARCHAR},
      refund_trade_no = #{refundTradeNo,jdbcType=VARCHAR},
      refund_remark = #{refundRemark,jdbcType=VARCHAR},
      bill_status = #{billStatus,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  
  
  
  
  <sql id="condition_sql">
		<if test="order_no != null"> and order_no = #{order_no,jdbcType=VARCHAR}</if>
		<if test="merchant_order_no != null"> and merchant_order_no = #{merchant_order_no,jdbcType=VARCHAR}</if>
		<if test="trade_no != null"> and trade_no = #{trade_no,jdbcType=VARCHAR}</if>
		<if test="status != null"> and status = #{status,jdbcType=VARCHAR}</if>
		<if test="channel != null"> and channel = #{channel,jdbcType=VARCHAR}</if>
		<if test="refund_no != null"> and refund_no = #{refund_no,jdbcType=VARCHAR}</if>
		<if test="refund_merchant_no != null"> and refund_merchant_no = #{refund_merchant_no,jdbcType=VARCHAR}</if>
		<if test="refund_status != null"> and refund_status = #{refund_status,jdbcType=VARCHAR}</if>
		<if test="buyer_id != null and buyer_id != ''"> and buyer_id like "%"#{buyer_id,jdbcType=VARCHAR}"%"</if>
		<if test="merchant_name != null and merchant_name != ''"> and merchant_name like "%"#{merchant_name,jdbcType=VARCHAR}"%"</if>
		<if test="merchant_app_name != null and merchant_app_name != ''"> and merchant_app_name like "%"#{merchant_app_name,jdbcType=VARCHAR}"%"</if>
		<if test="merchant_app_code != null and merchant_app_code != ''"> and merchant_app_code = #{merchant_app_code,jdbcType=VARCHAR}</if>
		<if test="bill_status != null and bill_status != ''"> and bill_status = #{bill_status,jdbcType=VARCHAR}</if>
  </sql>
  <select id="selectByMap" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from pay_refund_order
    <where>
			<include refid="condition_sql" />
	</where>
  </select>
  
  <sql id="bill_condition_sql">    	
		<if test="channel != null"> and channel = #{channel,jdbcType=VARCHAR}</if>
		<if test="channelMerchantId != null and channelMerchantId != '' "> and channel_merchant_id = #{channelMerchantId,jdbcType=VARCHAR}</if>
		<if test="channelAppId != null and channelAppId != '' "> and channel_app_id = #{channelAppId,jdbcType=VARCHAR}</if>		
		<if test="startTime != null and startTime != '' and endTime != null and endTime != '' "> and date_format(create_time,'%Y%m%d%H%i%s') between #{startTime} AND #{endTime}</if>
		<if test="refundStatus != null"> and refund_status = #{refundStatus,jdbcType=VARCHAR}</if>
  </sql>
  <select id="selectForBill" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from pay_refund_order
    <where>
		<include refid="bill_condition_sql" />
	</where>
  </select>
  
  <select id="pageByMap" resultMap="BaseResultMap" parameterType="java.util.Map">
   select 
    <include refid="Base_Column_List" />
    from pay_refund_order
    <where>
		<include refid="condition_sql" />
	</where>
  </select>
  
  <update id="updateBillStatus" parameterType="java.util.Map" >
  	update pay_refund_order
  		set bill_status = #{billStatus}
  	where
  		refund_no in 
  		(
  			${refundOrderNoInCondition}
  		)
  </update>
  
  <update id="updateBillStatusSingle">
  	update pay_refund_order
  	   set bill_status = #{billStatus,jdbcType=VARCHAR}
  	 where refund_no = #{refundNo,jdbcType=VARCHAR}
  </update>
  
</mapper>