<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fc.pay.trade.dao.PayTradeRecordMapper">

  <resultMap id="BaseResultMap" type="com.fc.pay.trade.entity.PayTradeRecord">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="creater" jdbcType="VARCHAR" property="creater" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="editor" jdbcType="VARCHAR" property="editor" />
    <result column="edit_time" jdbcType="TIMESTAMP" property="editTime" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="merchant_code" jdbcType="VARCHAR" property="merchantCode" />
    <result column="merchant_name" jdbcType="VARCHAR" property="merchantName" />
    <result column="merchant_app_code" jdbcType="VARCHAR" property="merchantAppCode" />
    <result column="merchant_app_name" jdbcType="VARCHAR" property="merchantAppName" />
    <result column="channel_app_id" jdbcType="VARCHAR" property="channelAppId" />
    <result column="channel_merchant_id" jdbcType="VARCHAR" property="channelMerchantId" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="merchant_order_no" jdbcType="VARCHAR" property="merchantOrderNo" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="channel" jdbcType="VARCHAR" property="channel" />
    <result column="pay_way" jdbcType="VARCHAR" property="payWay" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="order_time" jdbcType="TIMESTAMP" property="orderTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="trade_no" jdbcType="VARCHAR" property="tradeNo" />
    <result column="buyer_id" jdbcType="VARCHAR" property="buyerId" />
    <result column="finish_time" jdbcType="TIMESTAMP" property="finishTime" />
    <result column="refund_no" jdbcType="VARCHAR" property="refundNo" />
    <result column="refund_merchant_no" jdbcType="VARCHAR" property="refundMerchantNo" />
    <result column="refund_reason" jdbcType="VARCHAR" property="refundReason" />
    <result column="refund_amount" jdbcType="DECIMAL" property="refundAmount" />
    <result column="refund_time" jdbcType="TIMESTAMP" property="refundTime" />
    <result column="refund_success_time" jdbcType="TIMESTAMP" property="refundSuccessTime" />
    <result column="refund_buyer_id" jdbcType="VARCHAR" property="refundBuyerId" />
    <result column="refund_trade_no" jdbcType="VARCHAR" property="refundTradeNo" />
    <result column="refund_remark" jdbcType="VARCHAR" property="refundRemark" />
    <result column="notifiy_param" jdbcType="VARCHAR" property="notifiyParam" />
  </resultMap>
  <sql id="Base_Column_List">
    id, creater, create_time, editor, edit_time, version, merchant_code, merchant_name, 
    merchant_app_code, merchant_app_name, channel_app_id, channel_merchant_id, order_no, 
    merchant_order_no, product_name, channel, pay_way, amount, order_time, remark, trade_no, 
    buyer_id, finish_time, refund_no, refund_merchant_no, refund_reason, refund_amount, 
    refund_time, refund_success_time, refund_buyer_id, refund_trade_no, refund_remark, 
    notifiy_param
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pay_trade_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pay_trade_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.fc.pay.trade.entity.PayTradeRecord">
    insert into pay_trade_record (id, creater, create_time, 
      editor, edit_time, version, 
      merchant_code, merchant_name, merchant_app_code, 
      merchant_app_name, channel_app_id, channel_merchant_id, 
      order_no, merchant_order_no, product_name, 
      channel, pay_way, amount, 
      order_time, remark, trade_no, 
      buyer_id, finish_time, refund_no, 
      refund_merchant_no, refund_reason, refund_amount, 
      refund_time, refund_success_time, refund_buyer_id, 
      refund_trade_no, refund_remark, notifiy_param
      )
    values (#{id,jdbcType=BIGINT}, #{creater,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{editor,jdbcType=VARCHAR}, #{editTime,jdbcType=TIMESTAMP}, #{version,jdbcType=INTEGER}, 
      #{merchantCode,jdbcType=VARCHAR}, #{merchantName,jdbcType=VARCHAR}, #{merchantAppCode,jdbcType=VARCHAR}, 
      #{merchantAppName,jdbcType=VARCHAR}, #{channelAppId,jdbcType=VARCHAR}, #{channelMerchantId,jdbcType=VARCHAR}, 
      #{orderNo,jdbcType=VARCHAR}, #{merchantOrderNo,jdbcType=VARCHAR}, #{productName,jdbcType=VARCHAR}, 
      #{channel,jdbcType=VARCHAR}, #{payWay,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL}, 
      #{orderTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, #{tradeNo,jdbcType=VARCHAR}, 
      #{buyerId,jdbcType=VARCHAR}, #{finishTime,jdbcType=TIMESTAMP}, #{refundNo,jdbcType=VARCHAR}, 
      #{refundMerchantNo,jdbcType=VARCHAR}, #{refundReason,jdbcType=VARCHAR}, #{refundAmount,jdbcType=DECIMAL}, 
      #{refundTime,jdbcType=TIMESTAMP}, #{refundSuccessTime,jdbcType=TIMESTAMP}, #{refundBuyerId,jdbcType=VARCHAR}, 
      #{refundTradeNo,jdbcType=VARCHAR}, #{refundRemark,jdbcType=VARCHAR}, #{notifiyParam,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.fc.pay.trade.entity.PayTradeRecord">
    insert into pay_trade_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="creater != null">
        creater,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="editor != null">
        editor,
      </if>
      <if test="editTime != null">
        edit_time,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="merchantCode != null">
        merchant_code,
      </if>
      <if test="merchantName != null">
        merchant_name,
      </if>
      <if test="merchantAppCode != null">
        merchant_app_code,
      </if>
      <if test="merchantAppName != null">
        merchant_app_name,
      </if>
      <if test="channelAppId != null">
        channel_app_id,
      </if>
      <if test="channelMerchantId != null">
        channel_merchant_id,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="merchantOrderNo != null">
        merchant_order_no,
      </if>
      <if test="productName != null">
        product_name,
      </if>
      <if test="channel != null">
        channel,
      </if>
      <if test="payWay != null">
        pay_way,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="orderTime != null">
        order_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="tradeNo != null">
        trade_no,
      </if>
      <if test="buyerId != null">
        buyer_id,
      </if>
      <if test="finishTime != null">
        finish_time,
      </if>
      <if test="refundNo != null">
        refund_no,
      </if>
      <if test="refundMerchantNo != null">
        refund_merchant_no,
      </if>
      <if test="refundReason != null">
        refund_reason,
      </if>
      <if test="refundAmount != null">
        refund_amount,
      </if>
      <if test="refundTime != null">
        refund_time,
      </if>
      <if test="refundSuccessTime != null">
        refund_success_time,
      </if>
      <if test="refundBuyerId != null">
        refund_buyer_id,
      </if>
      <if test="refundTradeNo != null">
        refund_trade_no,
      </if>
      <if test="refundRemark != null">
        refund_remark,
      </if>
      <if test="notifiyParam != null">
        notifiy_param,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editor != null">
        #{editor,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null">
        #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
      <if test="merchantCode != null">
        #{merchantCode,jdbcType=VARCHAR},
      </if>
      <if test="merchantName != null">
        #{merchantName,jdbcType=VARCHAR},
      </if>
      <if test="merchantAppCode != null">
        #{merchantAppCode,jdbcType=VARCHAR},
      </if>
      <if test="merchantAppName != null">
        #{merchantAppName,jdbcType=VARCHAR},
      </if>
      <if test="channelAppId != null">
        #{channelAppId,jdbcType=VARCHAR},
      </if>
      <if test="channelMerchantId != null">
        #{channelMerchantId,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="merchantOrderNo != null">
        #{merchantOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="channel != null">
        #{channel,jdbcType=VARCHAR},
      </if>
      <if test="payWay != null">
        #{payWay,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="orderTime != null">
        #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="tradeNo != null">
        #{tradeNo,jdbcType=VARCHAR},
      </if>
      <if test="buyerId != null">
        #{buyerId,jdbcType=VARCHAR},
      </if>
      <if test="finishTime != null">
        #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="refundNo != null">
        #{refundNo,jdbcType=VARCHAR},
      </if>
      <if test="refundMerchantNo != null">
        #{refundMerchantNo,jdbcType=VARCHAR},
      </if>
      <if test="refundReason != null">
        #{refundReason,jdbcType=VARCHAR},
      </if>
      <if test="refundAmount != null">
        #{refundAmount,jdbcType=DECIMAL},
      </if>
      <if test="refundTime != null">
        #{refundTime,jdbcType=TIMESTAMP},
      </if>
      <if test="refundSuccessTime != null">
        #{refundSuccessTime,jdbcType=TIMESTAMP},
      </if>
      <if test="refundBuyerId != null">
        #{refundBuyerId,jdbcType=VARCHAR},
      </if>
      <if test="refundTradeNo != null">
        #{refundTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="refundRemark != null">
        #{refundRemark,jdbcType=VARCHAR},
      </if>
      <if test="notifiyParam != null">
        #{notifiyParam,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fc.pay.trade.entity.PayTradeRecord">
    update pay_trade_record
    <set>
      <if test="creater != null">
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editor != null">
        editor = #{editor,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null">
        edit_time = #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="merchantCode != null">
        merchant_code = #{merchantCode,jdbcType=VARCHAR},
      </if>
      <if test="merchantName != null">
        merchant_name = #{merchantName,jdbcType=VARCHAR},
      </if>
      <if test="merchantAppCode != null">
        merchant_app_code = #{merchantAppCode,jdbcType=VARCHAR},
      </if>
      <if test="merchantAppName != null">
        merchant_app_name = #{merchantAppName,jdbcType=VARCHAR},
      </if>
      <if test="channelAppId != null">
        channel_app_id = #{channelAppId,jdbcType=VARCHAR},
      </if>
      <if test="channelMerchantId != null">
        channel_merchant_id = #{channelMerchantId,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="merchantOrderNo != null">
        merchant_order_no = #{merchantOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="channel != null">
        channel = #{channel,jdbcType=VARCHAR},
      </if>
      <if test="payWay != null">
        pay_way = #{payWay,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="orderTime != null">
        order_time = #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="tradeNo != null">
        trade_no = #{tradeNo,jdbcType=VARCHAR},
      </if>
      <if test="buyerId != null">
        buyer_id = #{buyerId,jdbcType=VARCHAR},
      </if>
      <if test="finishTime != null">
        finish_time = #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="refundNo != null">
        refund_no = #{refundNo,jdbcType=VARCHAR},
      </if>
      <if test="refundMerchantNo != null">
        refund_merchant_no = #{refundMerchantNo,jdbcType=VARCHAR},
      </if>
      <if test="refundReason != null">
        refund_reason = #{refundReason,jdbcType=VARCHAR},
      </if>
      <if test="refundAmount != null">
        refund_amount = #{refundAmount,jdbcType=DECIMAL},
      </if>
      <if test="refundTime != null">
        refund_time = #{refundTime,jdbcType=TIMESTAMP},
      </if>
      <if test="refundSuccessTime != null">
        refund_success_time = #{refundSuccessTime,jdbcType=TIMESTAMP},
      </if>
      <if test="refundBuyerId != null">
        refund_buyer_id = #{refundBuyerId,jdbcType=VARCHAR},
      </if>
      <if test="refundTradeNo != null">
        refund_trade_no = #{refundTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="refundRemark != null">
        refund_remark = #{refundRemark,jdbcType=VARCHAR},
      </if>
      <if test="notifiyParam != null">
        notifiy_param = #{notifiyParam,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fc.pay.trade.entity.PayTradeRecord">
    update pay_trade_record
    set creater = #{creater,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      editor = #{editor,jdbcType=VARCHAR},
      edit_time = #{editTime,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=INTEGER},
      merchant_code = #{merchantCode,jdbcType=VARCHAR},
      merchant_name = #{merchantName,jdbcType=VARCHAR},
      merchant_app_code = #{merchantAppCode,jdbcType=VARCHAR},
      merchant_app_name = #{merchantAppName,jdbcType=VARCHAR},
      channel_app_id = #{channelAppId,jdbcType=VARCHAR},
      channel_merchant_id = #{channelMerchantId,jdbcType=VARCHAR},
      order_no = #{orderNo,jdbcType=VARCHAR},
      merchant_order_no = #{merchantOrderNo,jdbcType=VARCHAR},
      product_name = #{productName,jdbcType=VARCHAR},
      channel = #{channel,jdbcType=VARCHAR},
      pay_way = #{payWay,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DECIMAL},
      order_time = #{orderTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      trade_no = #{tradeNo,jdbcType=VARCHAR},
      buyer_id = #{buyerId,jdbcType=VARCHAR},
      finish_time = #{finishTime,jdbcType=TIMESTAMP},
      refund_no = #{refundNo,jdbcType=VARCHAR},
      refund_merchant_no = #{refundMerchantNo,jdbcType=VARCHAR},
      refund_reason = #{refundReason,jdbcType=VARCHAR},
      refund_amount = #{refundAmount,jdbcType=DECIMAL},
      refund_time = #{refundTime,jdbcType=TIMESTAMP},
      refund_success_time = #{refundSuccessTime,jdbcType=TIMESTAMP},
      refund_buyer_id = #{refundBuyerId,jdbcType=VARCHAR},
      refund_trade_no = #{refundTradeNo,jdbcType=VARCHAR},
      refund_remark = #{refundRemark,jdbcType=VARCHAR},
      notifiy_param = #{notifiyParam,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  
  
  <sql id="condition_sql">
  		<if test="order_no != null"> and order_no = #{order_no,jdbcType=VARCHAR}</if>
		<if test="merchant_order_no != null"> and merchant_order_no = #{merchant_order_no,jdbcType=VARCHAR}</if>
		<if test="trade_no != null"> and trade_no = #{trade_no,jdbcType=VARCHAR}</if>
		<if test="status != null"> and status = #{status,jdbcType=VARCHAR}</if>
		<if test="channel != null"> and channel = #{channel,jdbcType=VARCHAR}</if>
		
		<if test="refund_no != null"> and refund_no = #{refund_no,jdbcType=VARCHAR}</if>
		<if test="refund_merchant_no != null"> and refund_merchant_no = #{refund_merchant_no,jdbcType=VARCHAR}</if>
		<if test="refund_status != null"> and refund_status = #{refund_status,jdbcType=VARCHAR}</if>
  </sql>
  <select id="selectByMap" parameterType="java.util.Map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pay_trade_record
    <where>
			<include refid="condition_sql" />
	</where>
  </select>
</mapper>