<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fc.pay.boss.dao.BossDictionaryMapper" >
  <resultMap id="BaseResultMap" type="com.fc.pay.boss.entity.BossDictionary" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="parent" property="parent" jdbcType="BIGINT" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="orderby" property="orderby" jdbcType="INTEGER" />
	<collection column="id" property="childs" ofType="com.fc.pay.boss.entity.BossDictionary" select="selectChilds"/>
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, code, name, parent, description, orderby
  </sql>
  
	<insert id="insertSelective" parameterType="BossDictionary" useGeneratedKeys="true" keyProperty="id">
	    insert into boss_dictionary
	    <trim prefix="(" suffix=")" suffixOverrides="," >
	      <if test="id != null" >
	        id,
	      </if>
	      <if test="code != null" >
	        code,
	      </if>
	      <if test="name != null" >
	        name,
	      </if>
	      <if test="parent != null" >
	        parent,
	      </if>
	      <if test="description != null" >
	        description,
	      </if>
	      <if test="orderby != null" >
	        orderby
	      </if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides="," >
	      <if test="id != null" >
	        #{id,jdbcType=BIGINT},
	      </if>
	      <if test="code != null" >
	        #{code,jdbcType=VARCHAR},
	      </if>
	      <if test="name != null" >
	        #{name,jdbcType=VARCHAR},
	      </if>
	      <if test="parent != null" >
	        #{parent,jdbcType=BIGINT},
	      </if>
	      <if test="description != null" >
	        #{description,jdbcType=VARCHAR},
	      </if>
	      <if test="orderby != null" >
	        #{orderby,jdbcType=INTEGER},
	      </if>
	    </trim>
	</insert>

	<update id="updateSelectiveById" parameterType="BossDictionary" >
	    update boss_dictionary
	    <set >
	      <if test="code != null" >
	        code = #{code,jdbcType=VARCHAR},
	      </if>
	      <if test="name != null" >
	        name = #{name,jdbcType=VARCHAR},
	      </if>
	      <if test="parent != null" >
	        parent = #{parent,jdbcType=BIGINT},
	      </if>
	      <if test="description != null" >
	        description = #{description,jdbcType=VARCHAR},
	      </if>
	      <if test="orderby != null" >
	        orderby = #{orderby,jdbcType=INTEGER},
	      </if>
	    </set>
	    where id = #{id,jdbcType=BIGINT}
	</update>
	
  	<delete id="deleteById" parameterType="java.lang.Long" >
    	delete from boss_dictionary
    	where id = #{id,jdbcType=BIGINT}
 	</delete>
 	
	<select id="selectCount" resultType="Integer" parameterType="Map" >
		select count(1) from boss_dictionary
		<where>
			<if test="code != null and code != ''">
				and code = #{code}
			</if>
			<if test="id != null and id != ''">
				and id != #{id}
			</if>
			<if test="parent != null and parent != ''">
				and parent = #{parent}
			</if>
		</where>
	</select>
		
	<select id="selectById" resultType="BossDictionary" parameterType="java.lang.Long" >
		select 
		<include refid="Base_Column_List" />
		from boss_dictionary
		where id = #{id,jdbcType=BIGINT}
	</select>
		
	<select id="selectList" resultMap="BaseResultMap" parameterType="Map" >
		select 
		<include refid="Base_Column_List" />
		from boss_dictionary
		<where>
			<if test="id!=null and id!=''">
				AND parent=#{id}
			</if>
		</where>
		order by orderby asc
	</select>
	
	<select id="selectChilds" resultType="BossDictionary" parameterType="java.lang.Long">
		select 
		<include refid="Base_Column_List" />
		from boss_dictionary
		where parent=#{id}
	</select>
	
	<!-- 分页查询数据 -->
	<select id="selectPageList" parameterType="Map" resultType="BossDictionary">
		SELECT 
			<include refid="Base_Column_List"/>
		FROM boss_dictionary
		<where>
			<if test="name!=null and name!=''">
				name like "%"#{name}"%"
			</if>
			<if test="code!=null and code!=''">
				AND code like "%"#{code}"%"
			</if>
			<if test="parent!=null and parent!=''">
				AND parent=#{parent}
			</if>
		</where>
		order by orderby asc
	</select> 		

</mapper>