<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fc.pay.boss.dao.BossRoleMapper">
  <resultMap id="BaseResultMap" type="com.fc.pay.boss.entity.BossRole" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="version" property="version" jdbcType="BIGINT" />
    <result column="creater" property="creater" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="editor" property="editor" jdbcType="VARCHAR" />
    <result column="edit_time" property="editTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="role_code" property="roleCode" jdbcType="VARCHAR" />
    <result column="role_name" property="roleName" jdbcType="VARCHAR" />
  </resultMap>
  
	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		id, version, creater, create_time AS createTime, editor, edit_time AS editTime, status, remark, role_code AS roleCode, role_name AS roleName
	</sql>
	
  <insert id="insertSelective" parameterType="BossRole" >
    insert into boss_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="editor != null" >
        editor,
      </if>
      <if test="editTime != null" >
        edit_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="roleCode != null" >
        role_code,
      </if>
      <if test="roleName != null" >
        role_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="version != null" >
        #{version,jdbcType=BIGINT},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editor != null" >
        #{editor,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null" >
        #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="roleCode != null" >
        #{roleCode,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null" >
        #{roleName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateSelectiveById" parameterType="BossRole" >
    update boss_role
    <set >
      <if test="version != null" >
        version = #{version,jdbcType=BIGINT},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editor != null" >
        editor = #{editor,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null" >
        edit_time = #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="roleCode != null" >
        role_code = #{roleCode,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null" >
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <delete id="deleteById" parameterType="java.lang.Long" >
    delete from boss_role
    where id = #{id,jdbcType=BIGINT}
  </delete>
  
  <select id="selectCount" resultType="Integer" parameterType="java.lang.Long" >
	  select count(1)
	  from boss_role
	  <where>
		  <if test="roleName != null and roleName != ''">
			  and role_name = #{roleName}
		  </if>
		  <if test="roleCode != null and roleCode != ''">
			  and role_code = #{roleCode}
		  </if>
		  <if test="id != null and id != ''">
			  and id != #{id}
		  </if>
	  </where>
  </select>  
  
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from boss_role
    where id = #{id,jdbcType=BIGINT}
  </select> 
  
  <select id="selectList" resultMap="BaseResultMap" parameterType="Map" >
    select 
    <include refid="Base_Column_List" />
        from boss_role
  </select>
  
  <!-- 分页查询数据 -->
  <select id="selectPageList" parameterType="Map" resultMap="BaseResultMap">
	  SELECT 
		  <include refid="Base_Column_List"/>
	  FROM boss_role
	  <where>
		  <if test="roleName!=null and roleName!='' ">
			  AND role_name like "%"#{roleName}"%"
		  </if>
		  <if test="roleCode!=null and roleCode!='' ">
			  AND role_code like "%"#{roleCode}"%"
		  </if>
	  </where>
  </select>      	
	
  <!--查询用户角色-->
  <select id="selectRoleOperatorByOperatorId" parameterType="Long" resultMap="BaseResultMap">
	  SELECT br.* FROM boss_role br
	  INNER JOIN boss_role_operator bro ON br.id = bro.role_id
	  INNER JOIN boss_operator bo ON bo.id = bro.operator_id
	  WHERE bo.id=#{operatorId}
  </select>
	
  <!-- 根据权限查询角色 -->
  <select id="selectRoleByPermisId" parameterType="Long" resultType="BossRole">
	  SELECT
	  <include refid="Base_Column_List"/> 
	  FROM boss_role br WHERE id IN(
		  SELECT role_id FROM boss_role_permission
		  WHERE permission_id = (SELECT id FROM boss_permission WHERE id=#{permissionId})
	  )
  </select>

</mapper>