<!DOCTYPE html>

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
		<title>Welcome</title>
	</head> 
	<body>
		<h2>微信：(支付)</h2>
		<div>
			  <form id="myform" method="post">
			  		
			  		
			  		商户编号：	<input  name="merchant_app_code" value="1481083760950" /><br />
			  		商户订单号：	<input  name="merchant_order_no" value="20160001" /><br />
		          	商品名称：	<input  name="product_name" value="草你妹" style="width: 500px"/><br />
		          				<button id="sub" >尼玛</button>
		        </form>
		
		</div>
	</body>
	<script type="text/javascript">
		 $("#sub").click(function(){
			
			
			$.ajax(
				    {
				        type:'post',  
				        url : 'http://localhost:8081/pay-shop/test',  
				        dataType : 'json',  
				        contentType:'application/json',
				        data: {'id':123},
				        
				        success  : function(data) {
				            alert("success");
				        },  
				        error : function(data) {  
				            alert("faile");  
				        }
				    }  
				);
		}); 

	</script>
	
</html>