<!DOCTYPE html>

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
		<!-- <script src="http://malsup.github.com/jquery.form.js"></script> -->
		<script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js">
		<script src="../js/jquery.form.js"></script>
		<title>Welcome</title>
	</head>
	
	<body>
		<h2>微信(统一下单)：</h2>
		<div ng-app="myApp" ng-controller="myCtrl">
				<!-- <form action="http://localhost:8082/pay-gateway/trade/pay" id="queryForm" method="post"> -->
			  	<!-- <form id="queryForm" action="http://test.carisok.com/pay-web-gateway/trade/pay" method="post"> -->
			  	<form id="queryForm" action="http://localhost:8081/pay-shop/mch/pay/createCharge" method="post">
			  	<!-- <form id="queryForm" action="http://test.carisok.com/pay-web-shop/mch/pay/createCharge" method="post"> -->
			  	
			  		=============必填字段======================================<br/>
			  		版本编号：	<input  name="version" value="1.0" /><br/>
			  		商户编号：	<input  name="merchantAppCode" value="1481083760950" /><br/>
			  		商户订单号：	<input  name="merchantOrderNo" value="20160001" /><br />
		          	商品名称：	<input  name="productName" value="卡玛一块外加二锅头一瓶(支付测试)" style="width: 500px"/><br/>
		          	
		          	金额：	  	<input  name="amount" value="1.00" /><br/>
		          	支付渠道：	<input  name="channel" value="weixin"><br/>
		          	支付方式：	<input  name="payWay" value="web"><br/>
		          	秘钥：		<input  name="sign" value="sign"/><br/>
		          	通知地址：	<input  name="notifyUrl" value="http://localhost:8081/pay-shop/test" /><br/>
		          	<br />
		          	<br />
		          	<br />
		          	=============可选字段======================================<br />
		          	<br />
		          	返回结果地址：<input  name="returnUrl" value="http://test.carisok.com/pay-web-shop" /><br />
		          	用户下单IP：	<input  name="orderIp" value="192.168.22.12" /><br />
		          	备注：		<input  name="remark" value="亚麻跌" /><br />
		          <p class="pay_btn">
		            			<input type="button" id="sub" ng-click="toggle()" value="获取枫车支付凭证" />
		          </p>
		        </form>
		        
		        <form id="weixinsubmit" action="" method="post">
					
				</form>
		
		</div>
	</body>
	<script type="text/javascript">
		/* $("#sub").click(function(){
			
			$.ajax(
				    {
				        type:'get',  
				        url : 'http://localhost:8082/pay-gateway/trade/pay/test',  
				        dataType : 'jsonp',  
				        jsonp:'callback',
				        jsonpCallback:"person",
				        data: $("#myform").serialize(),
				        
				        success  : function(data) {
				            //alert(data.result.credential.alipayPc.url);
				            //alert(data.result.credential.alipayPc.bizContent);
				            $('#alipaysubmit').attr('action',data.result.credential.alipayPc.url);
				            $('#biz_content').val(data.result.credential.alipayPc.bizContent);
				            alert( $('#alipaysubmit').attr("action"));
				            alert( $('#biz_content').val());
				            $('#alipaysubmit').submit();
				        },  
				        error : function(data) {  
				            alert("faile");  
				        }
				    }  
				);
		}); */
		
		var app = angular.module('myApp', []);
		app.controller('myCtrl', function($scope, $http) {
			
		    $scope.toggle = function() {

		    	
		    	/* $http.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded;charset=utf-8'; */
			   
			    $http({
			        method: 'POST',
			        url: $("#queryForm").attr("action"),
			        data: $("#queryForm").serialize(),
			        headers: {'Content-Type': 'application/x-www-form-urlencoded'}
			    }).success(function (data, status, headers, config) {
			    	
			    	
			    	$("#weixinsubmit").empty();
			    	
			    	
			    	jQuery.each(data.data.object.credential, function(i, val) {
			    	    var str = '<br/><input name="'+i+'"  value="'+val+'"/>';
			    	    $("#weixinsubmit").append(str);
			    	});
			    	$("#weixinsubmit").append('<br/> <input  type="button" value="公众号jsapi只需要使用：prepay_id" />');
			    	
			        
			    }).error(function (data, status, headers, config) {
			        alert("错误");
			    });
			    
		    	
			   /*  $.ajax(
					    {
					        type:'post',
					        url : $("#queryForm").attr("action"),
					        data: $("#queryForm").serialize(),
					        success  : function(data) {
					        	
					        	$('#alipaysubmit').attr('action',data.data.object.credential.url);
						    	$("#alipaysubmit").empty();
						    	$("#alipaysubmit").append(data.data.object.credential.url);
						    	$("#alipaysubmit").append('<br/> <input  type="submit" value="提交支付宝" />');
					        },  
					        error : function(data) {  
					            alert("faile");  
					        }
					    }  
					); */
		    
		    };
		});
	</script>
</html>
