<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fc.pay.bill.dao.BillBizItemMapper" >
  <resultMap id="BaseResultMap" type="com.fc.pay.bill.entity.BillBizItem" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="creater" property="creater" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="editor" property="editor" jdbcType="VARCHAR" />
    <result column="edit_time" property="editTime" jdbcType="TIMESTAMP" />
    <result column="bill_date" property="billDate" jdbcType="DATE" />
    <result column="batch_no" property="batchNo" jdbcType="VARCHAR" />
    <result column="merchant_code" property="merchantCode" jdbcType="VARCHAR" />
    <result column="merchant_name" property="merchantName" jdbcType="VARCHAR" />
    <result column="merchant_app_code" property="merchantAppCode" jdbcType="VARCHAR" />
    <result column="merchant_app_name" property="merchantAppName" jdbcType="VARCHAR" />
    <result column="currency" property="currency" jdbcType="VARCHAR" />
    <result column="merchant_commodity" property="merchantCommodity" jdbcType="VARCHAR" />
    <result column="pay_channel" property="payChannel" jdbcType="VARCHAR" />
    <result column="pay_way" property="payWay" jdbcType="VARCHAR" />
    <result column="channel_app_id" property="channelAppId" jdbcType="VARCHAR" />
    <result column="channel_merchant_id" property="channelMerchantId" jdbcType="VARCHAR" />
    <result column="bill_type" property="billType" jdbcType="VARCHAR" />
    <result column="pay_merch_order_no" property="payMerchOrderNo" jdbcType="CHAR" />
    <result column="pay_order_no" property="payOrderNo" jdbcType="CHAR" />
    <result column="pay_trade_no" property="payTradeNo" jdbcType="CHAR" />
    <result column="pay_trade_amount" property="payTradeAmount" jdbcType="DECIMAL" />
    <result column="pay_order_time" property="payOrderTime" jdbcType="TIMESTAMP" />
    <result column="pay_success_time" property="paySuccessTime" jdbcType="TIMESTAMP" />
    <result column="refund_merch_order_no" property="refundMerchOrderNo" jdbcType="CHAR" />
    <result column="refund_order_no" property="refundOrderNo" jdbcType="CHAR" />
    <result column="refund_trade_no" property="refundTradeNo" jdbcType="CHAR" />
    <result column="refund_trade_amount" property="refundTradeAmount" jdbcType="DECIMAL" />
    <result column="refund_apply_time" property="refundApplyTime" jdbcType="TIMESTAMP" />
    <result column="refund_success_time" property="refundSuccessTime" jdbcType="TIMESTAMP" />
    <result column="source" property="source" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, version, creater, create_time, editor, edit_time, bill_date, batch_no, merchant_code, 
    merchant_name, merchant_app_code, merchant_app_name, currency, merchant_commodity, 
    pay_channel, pay_way, channel_app_id, channel_merchant_id, bill_type, pay_merch_order_no, 
    pay_order_no, pay_trade_no, pay_trade_amount, pay_order_time, pay_success_time, refund_merch_order_no, 
    refund_order_no, refund_trade_no, refund_trade_amount, refund_apply_time, refund_success_time, 
    source
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from bill_biz_item
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from bill_biz_item
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.fc.pay.bill.entity.BillBizItem" >
    insert into bill_biz_item (id, version, creater, 
      create_time, editor, edit_time, 
      bill_date, batch_no, merchant_code, 
      merchant_name, merchant_app_code, merchant_app_name, 
      currency, merchant_commodity, pay_channel, 
      pay_way, channel_app_id, channel_merchant_id, 
      bill_type, pay_merch_order_no, pay_order_no, 
      pay_trade_no, pay_trade_amount, pay_order_time, 
      pay_success_time, refund_merch_order_no, refund_order_no, 
      refund_trade_no, refund_trade_amount, refund_apply_time, 
      refund_success_time, source)
    values (#{id,jdbcType=BIGINT}, #{version,jdbcType=INTEGER}, #{creater,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{editor,jdbcType=VARCHAR}, #{editTime,jdbcType=TIMESTAMP}, 
      #{billDate,jdbcType=DATE}, #{batchNo,jdbcType=VARCHAR}, #{merchantCode,jdbcType=VARCHAR}, 
      #{merchantName,jdbcType=VARCHAR}, #{merchantAppCode,jdbcType=VARCHAR}, #{merchantAppName,jdbcType=VARCHAR}, 
      #{currency,jdbcType=VARCHAR}, #{merchantCommodity,jdbcType=VARCHAR}, #{payChannel,jdbcType=VARCHAR}, 
      #{payWay,jdbcType=VARCHAR}, #{channelAppId,jdbcType=VARCHAR}, #{channelMerchantId,jdbcType=VARCHAR}, 
      #{billType,jdbcType=VARCHAR}, #{payMerchOrderNo,jdbcType=CHAR}, #{payOrderNo,jdbcType=CHAR}, 
      #{payTradeNo,jdbcType=CHAR}, #{payTradeAmount,jdbcType=DECIMAL}, #{payOrderTime,jdbcType=TIMESTAMP}, 
      #{paySuccessTime,jdbcType=TIMESTAMP}, #{refundMerchOrderNo,jdbcType=CHAR}, #{refundOrderNo,jdbcType=CHAR}, 
      #{refundTradeNo,jdbcType=CHAR}, #{refundTradeAmount,jdbcType=DECIMAL}, #{refundApplyTime,jdbcType=TIMESTAMP}, 
      #{refundSuccessTime,jdbcType=TIMESTAMP}, #{source,jdbcType=VARCHAR})
  </insert>
  
  <insert id="insertBatch" parameterType="java.util.List">
    insert into bill_biz_item (id, version, creater, 
	      create_time, editor, edit_time, 
	      bill_date, batch_no, merchant_code, 
	      merchant_name, merchant_app_code, merchant_app_name, 
	      currency, merchant_commodity, pay_channel, 
	      pay_way, channel_app_id, channel_merchant_id, 
	      bill_type, pay_merch_order_no, pay_order_no, 
	      pay_trade_no, pay_trade_amount, pay_order_time, 
	      pay_success_time, refund_merch_order_no, refund_order_no, 
	      refund_trade_no, refund_trade_amount, refund_apply_time, 
	      refund_success_time, source)
    values 
    <foreach collection="list" item="item" index="index" separator="," >
	    ( #{item.id,jdbcType=BIGINT}, #{item.version,jdbcType=INTEGER}, #{item.creater,jdbcType=VARCHAR}, 
	      #{item.createTime,jdbcType=TIMESTAMP}, #{item.editor,jdbcType=VARCHAR}, #{item.editTime,jdbcType=TIMESTAMP}, 
	      #{item.billDate,jdbcType=DATE}, #{item.batchNo,jdbcType=VARCHAR}, #{item.merchantCode,jdbcType=VARCHAR}, 
	      #{item.merchantName,jdbcType=VARCHAR}, #{item.merchantAppCode,jdbcType=VARCHAR}, #{item.merchantAppName,jdbcType=VARCHAR}, 
	      #{item.currency,jdbcType=VARCHAR}, #{item.merchantCommodity,jdbcType=VARCHAR}, #{item.payChannel,jdbcType=VARCHAR}, 
	      #{item.payWay,jdbcType=VARCHAR}, #{item.channelAppId,jdbcType=VARCHAR}, #{item.channelMerchantId,jdbcType=VARCHAR}, 
	      #{item.billType,jdbcType=VARCHAR}, #{item.payMerchOrderNo,jdbcType=CHAR}, #{item.payOrderNo,jdbcType=CHAR}, 
	      #{item.payTradeNo,jdbcType=CHAR}, #{item.payTradeAmount,jdbcType=DECIMAL}, #{item.payOrderTime,jdbcType=TIMESTAMP}, 
	      #{item.paySuccessTime,jdbcType=TIMESTAMP}, #{item.refundMerchOrderNo,jdbcType=CHAR}, #{item.refundOrderNo,jdbcType=CHAR}, 
	      #{item.refundTradeNo,jdbcType=CHAR}, #{item.refundTradeAmount,jdbcType=DECIMAL}, #{item.refundApplyTime,jdbcType=TIMESTAMP}, 
	      #{item.refundSuccessTime,jdbcType=TIMESTAMP}, #{item.source,jdbcType=VARCHAR} )
    </foreach>
  </insert>
  
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.fc.pay.bill.entity.BillBizItem" >
    insert into bill_biz_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="editor != null" >
        editor,
      </if>
      <if test="editTime != null" >
        edit_time,
      </if>
      <if test="billDate != null" >
        bill_date,
      </if>
      <if test="batchNo != null" >
        batch_no,
      </if>
      <if test="merchantCode != null" >
        merchant_code,
      </if>
      <if test="merchantName != null" >
        merchant_name,
      </if>
      <if test="merchantAppCode != null" >
        merchant_app_code,
      </if>
      <if test="merchantAppName != null" >
        merchant_app_name,
      </if>
      <if test="currency != null" >
        currency,
      </if>
      <if test="merchantCommodity != null" >
        merchant_commodity,
      </if>
      <if test="payChannel != null" >
        pay_channel,
      </if>
      <if test="payWay != null" >
        pay_way,
      </if>
      <if test="channelAppId != null" >
        channel_app_id,
      </if>
      <if test="channelMerchantId != null" >
        channel_merchant_id,
      </if>
      <if test="billType != null" >
        bill_type,
      </if>
      <if test="payMerchOrderNo != null" >
        pay_merch_order_no,
      </if>
      <if test="payOrderNo != null" >
        pay_order_no,
      </if>
      <if test="payTradeNo != null" >
        pay_trade_no,
      </if>
      <if test="payTradeAmount != null" >
        pay_trade_amount,
      </if>
      <if test="payOrderTime != null" >
        pay_order_time,
      </if>
      <if test="paySuccessTime != null" >
        pay_success_time,
      </if>
      <if test="refundMerchOrderNo != null" >
        refund_merch_order_no,
      </if>
      <if test="refundOrderNo != null" >
        refund_order_no,
      </if>
      <if test="refundTradeNo != null" >
        refund_trade_no,
      </if>
      <if test="refundTradeAmount != null" >
        refund_trade_amount,
      </if>
      <if test="refundApplyTime != null" >
        refund_apply_time,
      </if>
      <if test="refundSuccessTime != null" >
        refund_success_time,
      </if>
      <if test="source != null" >
        source,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editor != null" >
        #{editor,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null" >
        #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="billDate != null" >
        #{billDate,jdbcType=DATE},
      </if>
      <if test="batchNo != null" >
        #{batchNo,jdbcType=VARCHAR},
      </if>
      <if test="merchantCode != null" >
        #{merchantCode,jdbcType=VARCHAR},
      </if>
      <if test="merchantName != null" >
        #{merchantName,jdbcType=VARCHAR},
      </if>
      <if test="merchantAppCode != null" >
        #{merchantAppCode,jdbcType=VARCHAR},
      </if>
      <if test="merchantAppName != null" >
        #{merchantAppName,jdbcType=VARCHAR},
      </if>
      <if test="currency != null" >
        #{currency,jdbcType=VARCHAR},
      </if>
      <if test="merchantCommodity != null" >
        #{merchantCommodity,jdbcType=VARCHAR},
      </if>
      <if test="payChannel != null" >
        #{payChannel,jdbcType=VARCHAR},
      </if>
      <if test="payWay != null" >
        #{payWay,jdbcType=VARCHAR},
      </if>
      <if test="channelAppId != null" >
        #{channelAppId,jdbcType=VARCHAR},
      </if>
      <if test="channelMerchantId != null" >
        #{channelMerchantId,jdbcType=VARCHAR},
      </if>
      <if test="billType != null" >
        #{billType,jdbcType=VARCHAR},
      </if>
      <if test="payMerchOrderNo != null" >
        #{payMerchOrderNo,jdbcType=CHAR},
      </if>
      <if test="payOrderNo != null" >
        #{payOrderNo,jdbcType=CHAR},
      </if>
      <if test="payTradeNo != null" >
        #{payTradeNo,jdbcType=CHAR},
      </if>
      <if test="payTradeAmount != null" >
        #{payTradeAmount,jdbcType=DECIMAL},
      </if>
      <if test="payOrderTime != null" >
        #{payOrderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="paySuccessTime != null" >
        #{paySuccessTime,jdbcType=TIMESTAMP},
      </if>
      <if test="refundMerchOrderNo != null" >
        #{refundMerchOrderNo,jdbcType=CHAR},
      </if>
      <if test="refundOrderNo != null" >
        #{refundOrderNo,jdbcType=CHAR},
      </if>
      <if test="refundTradeNo != null" >
        #{refundTradeNo,jdbcType=CHAR},
      </if>
      <if test="refundTradeAmount != null" >
        #{refundTradeAmount,jdbcType=DECIMAL},
      </if>
      <if test="refundApplyTime != null" >
        #{refundApplyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="refundSuccessTime != null" >
        #{refundSuccessTime,jdbcType=TIMESTAMP},
      </if>
      <if test="source != null" >
        #{source,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fc.pay.bill.entity.BillBizItem" >
    update bill_biz_item
    <set >
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editor != null" >
        editor = #{editor,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null" >
        edit_time = #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="billDate != null" >
        bill_date = #{billDate,jdbcType=DATE},
      </if>
      <if test="batchNo != null" >
        batch_no = #{batchNo,jdbcType=VARCHAR},
      </if>
      <if test="merchantCode != null" >
        merchant_code = #{merchantCode,jdbcType=VARCHAR},
      </if>
      <if test="merchantName != null" >
        merchant_name = #{merchantName,jdbcType=VARCHAR},
      </if>
      <if test="merchantAppCode != null" >
        merchant_app_code = #{merchantAppCode,jdbcType=VARCHAR},
      </if>
      <if test="merchantAppName != null" >
        merchant_app_name = #{merchantAppName,jdbcType=VARCHAR},
      </if>
      <if test="currency != null" >
        currency = #{currency,jdbcType=VARCHAR},
      </if>
      <if test="merchantCommodity != null" >
        merchant_commodity = #{merchantCommodity,jdbcType=VARCHAR},
      </if>
      <if test="payChannel != null" >
        pay_channel = #{payChannel,jdbcType=VARCHAR},
      </if>
      <if test="payWay != null" >
        pay_way = #{payWay,jdbcType=VARCHAR},
      </if>
      <if test="channelAppId != null" >
        channel_app_id = #{channelAppId,jdbcType=VARCHAR},
      </if>
      <if test="channelMerchantId != null" >
        channel_merchant_id = #{channelMerchantId,jdbcType=VARCHAR},
      </if>
      <if test="billType != null" >
        bill_type = #{billType,jdbcType=VARCHAR},
      </if>
      <if test="payMerchOrderNo != null" >
        pay_merch_order_no = #{payMerchOrderNo,jdbcType=CHAR},
      </if>
      <if test="payOrderNo != null" >
        pay_order_no = #{payOrderNo,jdbcType=CHAR},
      </if>
      <if test="payTradeNo != null" >
        pay_trade_no = #{payTradeNo,jdbcType=CHAR},
      </if>
      <if test="payTradeAmount != null" >
        pay_trade_amount = #{payTradeAmount,jdbcType=DECIMAL},
      </if>
      <if test="payOrderTime != null" >
        pay_order_time = #{payOrderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="paySuccessTime != null" >
        pay_success_time = #{paySuccessTime,jdbcType=TIMESTAMP},
      </if>
      <if test="refundMerchOrderNo != null" >
        refund_merch_order_no = #{refundMerchOrderNo,jdbcType=CHAR},
      </if>
      <if test="refundOrderNo != null" >
        refund_order_no = #{refundOrderNo,jdbcType=CHAR},
      </if>
      <if test="refundTradeNo != null" >
        refund_trade_no = #{refundTradeNo,jdbcType=CHAR},
      </if>
      <if test="refundTradeAmount != null" >
        refund_trade_amount = #{refundTradeAmount,jdbcType=DECIMAL},
      </if>
      <if test="refundApplyTime != null" >
        refund_apply_time = #{refundApplyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="refundSuccessTime != null" >
        refund_success_time = #{refundSuccessTime,jdbcType=TIMESTAMP},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fc.pay.bill.entity.BillBizItem" >
    update bill_biz_item
    set version = #{version,jdbcType=INTEGER},
      creater = #{creater,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      editor = #{editor,jdbcType=VARCHAR},
      edit_time = #{editTime,jdbcType=TIMESTAMP},
      bill_date = #{billDate,jdbcType=DATE},
      batch_no = #{batchNo,jdbcType=VARCHAR},
      merchant_code = #{merchantCode,jdbcType=VARCHAR},
      merchant_name = #{merchantName,jdbcType=VARCHAR},
      merchant_app_code = #{merchantAppCode,jdbcType=VARCHAR},
      merchant_app_name = #{merchantAppName,jdbcType=VARCHAR},
      currency = #{currency,jdbcType=VARCHAR},
      merchant_commodity = #{merchantCommodity,jdbcType=VARCHAR},
      pay_channel = #{payChannel,jdbcType=VARCHAR},
      pay_way = #{payWay,jdbcType=VARCHAR},
      channel_app_id = #{channelAppId,jdbcType=VARCHAR},
      channel_merchant_id = #{channelMerchantId,jdbcType=VARCHAR},
      bill_type = #{billType,jdbcType=VARCHAR},
      pay_merch_order_no = #{payMerchOrderNo,jdbcType=CHAR},
      pay_order_no = #{payOrderNo,jdbcType=CHAR},
      pay_trade_no = #{payTradeNo,jdbcType=CHAR},
      pay_trade_amount = #{payTradeAmount,jdbcType=DECIMAL},
      pay_order_time = #{payOrderTime,jdbcType=TIMESTAMP},
      pay_success_time = #{paySuccessTime,jdbcType=TIMESTAMP},
      refund_merch_order_no = #{refundMerchOrderNo,jdbcType=CHAR},
      refund_order_no = #{refundOrderNo,jdbcType=CHAR},
      refund_trade_no = #{refundTradeNo,jdbcType=CHAR},
      refund_trade_amount = #{refundTradeAmount,jdbcType=DECIMAL},
      refund_apply_time = #{refundApplyTime,jdbcType=TIMESTAMP},
      refund_success_time = #{refundSuccessTime,jdbcType=TIMESTAMP},
      source = #{source,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <update id="updatePayAmount">
    update bill_biz_item
    set pay_trade_amount = #{payAmount,jdbcType=DECIMAL}
    where pay_order_no = #{payOrderNo,jdbcType=VARCHAR}
  </update>
  
  <update id="updateRefundAmount">
    update bill_biz_item
    set refund_trade_amount = #{refundAmount,jdbcType=DECIMAL}
    where refund_order_no = #{refundOrderNo,jdbcType=VARCHAR}
  </update>
  
  <select id="selectAllByMap" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from bill_biz_item
    <where>
		<include refid="select_condition_sql" />
	</where>
  </select>
  
  <select id="selectPageByMap" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from bill_biz_item
    <where>
		<include refid="select_condition_sql" />
	</where>
  </select>
  
  <sql id="select_condition_sql">
		<if test="payChannel != null and payChannel != ''"> and pay_channel = #{payChannel,jdbcType=VARCHAR}</if>
		<if test="merchantCode != null and merchantCode != ''"> and merchant_code = #{merchantCode,jdbcType=VARCHAR}</if>
		<if test="merchantAppCode != null and merchantAppCode != ''"> and merchant_app_code = #{merchantAppCode,jdbcType=VARCHAR}</if>
		<if test="billType != null and billType != ''"> and bill_type = #{billType,jdbcType=VARCHAR}</if>
		<if test="billDate != null"> and bill_date = #{billDate,jdbcType=DATE}</if>
		<if test="batchNo != null and batchNo != ''"> and batch_no = #{batchNo}</if>
  </sql>
  
  <delete id="deleteAll">
    delete from bill_biz_item
  </delete>
  
</mapper>