<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fc.pay.bill.dao.BillBizDoubtMapper" >
  <resultMap id="BaseResultMap" type="com.fc.pay.bill.entity.BillBizDoubt" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="creater" property="creater" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="editor" property="editor" jdbcType="VARCHAR" />
    <result column="edit_time" property="editTime" jdbcType="TIMESTAMP" />
    <result column="batch_no" property="batchNo" jdbcType="VARCHAR" />
    <result column="bill_date" property="billDate" jdbcType="DATE" />
    <result column="pay_channel" property="payChannel" jdbcType="VARCHAR" />
    <result column="pay_way" property="payWay" jdbcType="VARCHAR" />
    <result column="channel_app_id" property="channelAppId" jdbcType="VARCHAR" />
    <result column="channel_merchant_id" property="channelMerchantId" jdbcType="VARCHAR" />
    <result column="bill_type" property="billType" jdbcType="VARCHAR" />
    <result column="merchant_code" property="merchantCode" jdbcType="VARCHAR" />
    <result column="merchant_name" property="merchantName" jdbcType="VARCHAR" />
    <result column="merchant_app_code" property="merchantAppCode" jdbcType="VARCHAR" />
    <result column="merchant_app_name" property="merchantAppName" jdbcType="VARCHAR" />
    <result column="merchant_commodity" property="merchantCommodity" jdbcType="VARCHAR" />
    <result column="currency" property="currency" jdbcType="VARCHAR" />
    <result column="pay_merch_order_no" property="payMerchOrderNo" jdbcType="CHAR" />
    <result column="pay_order_no" property="payOrderNo" jdbcType="CHAR" />
    <result column="pay_trade_no" property="payTradeNo" jdbcType="CHAR" />
    <result column="pay_trade_amount" property="payTradeAmount" jdbcType="DECIMAL" />
    <result column="pay_trade_status" property="payTradeStatus" jdbcType="VARCHAR" />
    <result column="pay_order_time" property="payOrderTime" jdbcType="TIMESTAMP" />
    <result column="pay_success_time" property="paySuccessTime" jdbcType="TIMESTAMP" />
    <result column="refund_merch_order_no" property="refundMerchOrderNo" jdbcType="CHAR" />
    <result column="refund_order_no" property="refundOrderNo" jdbcType="CHAR" />
    <result column="refund_trade_no" property="refundTradeNo" jdbcType="CHAR" />
    <result column="refund_trade_amount" property="refundTradeAmount" jdbcType="DECIMAL" />
    <result column="refund_trade_status" property="refundTradeStatus" jdbcType="VARCHAR" />
    <result column="refund_apply_time" property="refundApplyTime" jdbcType="TIMESTAMP" />
    <result column="refund_success_time" property="refundSuccessTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, version, creater, create_time, editor, edit_time, batch_no, bill_date, pay_channel, 
    pay_way, channel_app_id, channel_merchant_id, bill_type, merchant_code, merchant_name, 
    merchant_app_code, merchant_app_name, merchant_commodity, currency, pay_merch_order_no, 
    pay_order_no, pay_trade_no, pay_trade_amount, pay_trade_status, pay_order_time, pay_success_time, 
    refund_merch_order_no, refund_order_no, refund_trade_no, refund_trade_amount, refund_trade_status, 
    refund_apply_time, refund_success_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from bill_biz_doubt
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="selectByExpireDate" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bill_biz_doubt
    <![CDATA[ 
    where DATE_FORMAT(create_time,'%Y%m%d') < #{expireDate,jdbcType=VARCHAR}
    ]]> 
  </select>
  
  <select id="selectInPeriodByBillType" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bill_biz_doubt
    <![CDATA[ 
    where bill_type = #{billType,jdbcType=VARCHAR}
    ]]> 
  </select>  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from bill_biz_doubt
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <delete id="deleteBatch" parameterType="java.util.List">
    delete from bill_biz_doubt where id in
    <foreach collection="list" item = "item" open="(" separator="," close=")">
    	#{item.id}
    </foreach>
  </delete>
  
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.fc.pay.bill.entity.BillBizDoubt" >
    insert into bill_biz_doubt (id, version, creater, 
      create_time, editor, edit_time, 
      batch_no, bill_date, pay_channel, 
      pay_way, channel_app_id, channel_merchant_id, 
      bill_type, merchant_code, merchant_name, 
      merchant_app_code, merchant_app_name, merchant_commodity, 
      currency, pay_merch_order_no, pay_order_no, 
      pay_trade_no, pay_trade_amount, pay_trade_status, 
      pay_order_time, pay_success_time, refund_merch_order_no, 
      refund_order_no, refund_trade_no, refund_trade_amount, 
      refund_trade_status, refund_apply_time, refund_success_time
      )
    values (#{id,jdbcType=BIGINT}, #{version,jdbcType=INTEGER}, #{creater,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{editor,jdbcType=VARCHAR}, #{editTime,jdbcType=TIMESTAMP}, 
      #{batchNo,jdbcType=VARCHAR}, #{billDate,jdbcType=DATE}, #{payChannel,jdbcType=VARCHAR}, 
      #{payWay,jdbcType=VARCHAR}, #{channelAppId,jdbcType=VARCHAR}, #{channelMerchantId,jdbcType=VARCHAR}, 
      #{billType,jdbcType=VARCHAR}, #{merchantCode,jdbcType=VARCHAR}, #{merchantName,jdbcType=VARCHAR}, 
      #{merchantAppCode,jdbcType=VARCHAR}, #{merchantAppName,jdbcType=VARCHAR}, #{merchantCommodity,jdbcType=VARCHAR}, 
      #{currency,jdbcType=VARCHAR}, #{payMerchOrderNo,jdbcType=CHAR}, #{payOrderNo,jdbcType=CHAR}, 
      #{payTradeNo,jdbcType=CHAR}, #{payTradeAmount,jdbcType=DECIMAL}, #{payTradeStatus,jdbcType=VARCHAR}, 
      #{payOrderTime,jdbcType=TIMESTAMP}, #{paySuccessTime,jdbcType=TIMESTAMP}, #{refundMerchOrderNo,jdbcType=CHAR}, 
      #{refundOrderNo,jdbcType=CHAR}, #{refundTradeNo,jdbcType=CHAR}, #{refundTradeAmount,jdbcType=DECIMAL}, 
      #{refundTradeStatus,jdbcType=VARCHAR}, #{refundApplyTime,jdbcType=TIMESTAMP}, #{refundSuccessTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.fc.pay.bill.entity.BillBizDoubt" >
    insert into bill_biz_doubt
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="editor != null" >
        editor,
      </if>
      <if test="editTime != null" >
        edit_time,
      </if>
      <if test="batchNo != null" >
        batch_no,
      </if>
      <if test="billDate != null" >
        bill_date,
      </if>
      <if test="payChannel != null" >
        pay_channel,
      </if>
      <if test="payWay != null" >
        pay_way,
      </if>
      <if test="channelAppId != null" >
        channel_app_id,
      </if>
      <if test="channelMerchantId != null" >
        channel_merchant_id,
      </if>
      <if test="billType != null" >
        bill_type,
      </if>
      <if test="merchantCode != null" >
        merchant_code,
      </if>
      <if test="merchantName != null" >
        merchant_name,
      </if>
      <if test="merchantAppCode != null" >
        merchant_app_code,
      </if>
      <if test="merchantAppName != null" >
        merchant_app_name,
      </if>
      <if test="merchantCommodity != null" >
        merchant_commodity,
      </if>
      <if test="currency != null" >
        currency,
      </if>
      <if test="payMerchOrderNo != null" >
        pay_merch_order_no,
      </if>
      <if test="payOrderNo != null" >
        pay_order_no,
      </if>
      <if test="payTradeNo != null" >
        pay_trade_no,
      </if>
      <if test="payTradeAmount != null" >
        pay_trade_amount,
      </if>
      <if test="payTradeStatus != null" >
        pay_trade_status,
      </if>
      <if test="payOrderTime != null" >
        pay_order_time,
      </if>
      <if test="paySuccessTime != null" >
        pay_success_time,
      </if>
      <if test="refundMerchOrderNo != null" >
        refund_merch_order_no,
      </if>
      <if test="refundOrderNo != null" >
        refund_order_no,
      </if>
      <if test="refundTradeNo != null" >
        refund_trade_no,
      </if>
      <if test="refundTradeAmount != null" >
        refund_trade_amount,
      </if>
      <if test="refundTradeStatus != null" >
        refund_trade_status,
      </if>
      <if test="refundApplyTime != null" >
        refund_apply_time,
      </if>
      <if test="refundSuccessTime != null" >
        refund_success_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editor != null" >
        #{editor,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null" >
        #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="batchNo != null" >
        #{batchNo,jdbcType=VARCHAR},
      </if>
      <if test="billDate != null" >
        #{billDate,jdbcType=DATE},
      </if>
      <if test="payChannel != null" >
        #{payChannel,jdbcType=VARCHAR},
      </if>
      <if test="payWay != null" >
        #{payWay,jdbcType=VARCHAR},
      </if>
      <if test="channelAppId != null" >
        #{channelAppId,jdbcType=VARCHAR},
      </if>
      <if test="channelMerchantId != null" >
        #{channelMerchantId,jdbcType=VARCHAR},
      </if>
      <if test="billType != null" >
        #{billType,jdbcType=VARCHAR},
      </if>
      <if test="merchantCode != null" >
        #{merchantCode,jdbcType=VARCHAR},
      </if>
      <if test="merchantName != null" >
        #{merchantName,jdbcType=VARCHAR},
      </if>
      <if test="merchantAppCode != null" >
        #{merchantAppCode,jdbcType=VARCHAR},
      </if>
      <if test="merchantAppName != null" >
        #{merchantAppName,jdbcType=VARCHAR},
      </if>
      <if test="merchantCommodity != null" >
        #{merchantCommodity,jdbcType=VARCHAR},
      </if>
      <if test="currency != null" >
        #{currency,jdbcType=VARCHAR},
      </if>
      <if test="payMerchOrderNo != null" >
        #{payMerchOrderNo,jdbcType=CHAR},
      </if>
      <if test="payOrderNo != null" >
        #{payOrderNo,jdbcType=CHAR},
      </if>
      <if test="payTradeNo != null" >
        #{payTradeNo,jdbcType=CHAR},
      </if>
      <if test="payTradeAmount != null" >
        #{payTradeAmount,jdbcType=DECIMAL},
      </if>
      <if test="payTradeStatus != null" >
        #{payTradeStatus,jdbcType=VARCHAR},
      </if>
      <if test="payOrderTime != null" >
        #{payOrderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="paySuccessTime != null" >
        #{paySuccessTime,jdbcType=TIMESTAMP},
      </if>
      <if test="refundMerchOrderNo != null" >
        #{refundMerchOrderNo,jdbcType=CHAR},
      </if>
      <if test="refundOrderNo != null" >
        #{refundOrderNo,jdbcType=CHAR},
      </if>
      <if test="refundTradeNo != null" >
        #{refundTradeNo,jdbcType=CHAR},
      </if>
      <if test="refundTradeAmount != null" >
        #{refundTradeAmount,jdbcType=DECIMAL},
      </if>
      <if test="refundTradeStatus != null" >
        #{refundTradeStatus,jdbcType=VARCHAR},
      </if>
      <if test="refundApplyTime != null" >
        #{refundApplyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="refundSuccessTime != null" >
        #{refundSuccessTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <insert id="insertBatch" parameterType="java.util.List">
    insert into bill_biz_doubt (id, version, creater, 
      create_time, editor, edit_time, 
      batch_no, bill_date, pay_channel, 
      pay_way, channel_app_id, channel_merchant_id, 
      bill_type, merchant_code, merchant_name, 
      merchant_app_code, merchant_app_name, merchant_commodity, 
      currency, pay_merch_order_no, pay_order_no, 
      pay_trade_no, pay_trade_amount, pay_trade_status, 
      pay_order_time, pay_success_time, refund_merch_order_no, 
      refund_order_no, refund_trade_no, refund_trade_amount, 
      refund_trade_status, refund_apply_time, refund_success_time
      )
    values 
    <foreach collection="list" item="item" index="index" separator="," >
	    ( #{item.id,jdbcType=BIGINT}, #{item.version,jdbcType=INTEGER}, #{item.creater,jdbcType=VARCHAR}, 
	      #{item.createTime,jdbcType=TIMESTAMP}, #{item.editor,jdbcType=VARCHAR}, #{item.editTime,jdbcType=TIMESTAMP}, 
	      #{item.batchNo,jdbcType=VARCHAR}, #{item.billDate,jdbcType=DATE}, #{item.payChannel,jdbcType=VARCHAR}, 
	      #{item.payWay,jdbcType=VARCHAR}, #{item.channelAppId,jdbcType=VARCHAR}, #{item.channelMerchantId,jdbcType=VARCHAR}, 
	      #{item.billType,jdbcType=VARCHAR}, #{item.merchantCode,jdbcType=VARCHAR}, #{item.merchantName,jdbcType=VARCHAR}, 
	      #{item.merchantAppCode,jdbcType=VARCHAR}, #{item.merchantAppName,jdbcType=VARCHAR}, #{item.merchantCommodity,jdbcType=VARCHAR}, 
	      #{item.currency,jdbcType=VARCHAR}, #{item.payMerchOrderNo,jdbcType=CHAR}, #{item.payOrderNo,jdbcType=CHAR}, 
	      #{item.payTradeNo,jdbcType=CHAR}, #{item.payTradeAmount,jdbcType=DECIMAL}, #{item.payTradeStatus,jdbcType=VARCHAR}, 
	      #{item.payOrderTime,jdbcType=TIMESTAMP}, #{item.paySuccessTime,jdbcType=TIMESTAMP}, #{item.refundMerchOrderNo,jdbcType=CHAR}, 
	      #{item.refundOrderNo,jdbcType=CHAR}, #{item.refundTradeNo,jdbcType=CHAR}, #{item.refundTradeAmount,jdbcType=DECIMAL}, 
	      #{item.refundTradeStatus,jdbcType=VARCHAR}, #{item.refundApplyTime,jdbcType=TIMESTAMP}, #{item.refundSuccessTime,jdbcType=TIMESTAMP} )
    </foreach>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.fc.pay.bill.entity.BillBizDoubt" >
    update bill_biz_doubt
    <set >
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editor != null" >
        editor = #{editor,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null" >
        edit_time = #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="batchNo != null" >
        batch_no = #{batchNo,jdbcType=VARCHAR},
      </if>
      <if test="billDate != null" >
        bill_date = #{billDate,jdbcType=DATE},
      </if>
      <if test="payChannel != null" >
        pay_channel = #{payChannel,jdbcType=VARCHAR},
      </if>
      <if test="payWay != null" >
        pay_way = #{payWay,jdbcType=VARCHAR},
      </if>
      <if test="channelAppId != null" >
        channel_app_id = #{channelAppId,jdbcType=VARCHAR},
      </if>
      <if test="channelMerchantId != null" >
        channel_merchant_id = #{channelMerchantId,jdbcType=VARCHAR},
      </if>
      <if test="billType != null" >
        bill_type = #{billType,jdbcType=VARCHAR},
      </if>
      <if test="merchantCode != null" >
        merchant_code = #{merchantCode,jdbcType=VARCHAR},
      </if>
      <if test="merchantName != null" >
        merchant_name = #{merchantName,jdbcType=VARCHAR},
      </if>
      <if test="merchantAppCode != null" >
        merchant_app_code = #{merchantAppCode,jdbcType=VARCHAR},
      </if>
      <if test="merchantAppName != null" >
        merchant_app_name = #{merchantAppName,jdbcType=VARCHAR},
      </if>
      <if test="merchantCommodity != null" >
        merchant_commodity = #{merchantCommodity,jdbcType=VARCHAR},
      </if>
      <if test="currency != null" >
        currency = #{currency,jdbcType=VARCHAR},
      </if>
      <if test="payMerchOrderNo != null" >
        pay_merch_order_no = #{payMerchOrderNo,jdbcType=CHAR},
      </if>
      <if test="payOrderNo != null" >
        pay_order_no = #{payOrderNo,jdbcType=CHAR},
      </if>
      <if test="payTradeNo != null" >
        pay_trade_no = #{payTradeNo,jdbcType=CHAR},
      </if>
      <if test="payTradeAmount != null" >
        pay_trade_amount = #{payTradeAmount,jdbcType=DECIMAL},
      </if>
      <if test="payTradeStatus != null" >
        pay_trade_status = #{payTradeStatus,jdbcType=VARCHAR},
      </if>
      <if test="payOrderTime != null" >
        pay_order_time = #{payOrderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="paySuccessTime != null" >
        pay_success_time = #{paySuccessTime,jdbcType=TIMESTAMP},
      </if>
      <if test="refundMerchOrderNo != null" >
        refund_merch_order_no = #{refundMerchOrderNo,jdbcType=CHAR},
      </if>
      <if test="refundOrderNo != null" >
        refund_order_no = #{refundOrderNo,jdbcType=CHAR},
      </if>
      <if test="refundTradeNo != null" >
        refund_trade_no = #{refundTradeNo,jdbcType=CHAR},
      </if>
      <if test="refundTradeAmount != null" >
        refund_trade_amount = #{refundTradeAmount,jdbcType=DECIMAL},
      </if>
      <if test="refundTradeStatus != null" >
        refund_trade_status = #{refundTradeStatus,jdbcType=VARCHAR},
      </if>
      <if test="refundApplyTime != null" >
        refund_apply_time = #{refundApplyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="refundSuccessTime != null" >
        refund_success_time = #{refundSuccessTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fc.pay.bill.entity.BillBizDoubt" >
    update bill_biz_doubt
    set version = #{version,jdbcType=INTEGER},
      creater = #{creater,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      editor = #{editor,jdbcType=VARCHAR},
      edit_time = #{editTime,jdbcType=TIMESTAMP},
      batch_no = #{batchNo,jdbcType=VARCHAR},
      bill_date = #{billDate,jdbcType=DATE},
      pay_channel = #{payChannel,jdbcType=VARCHAR},
      pay_way = #{payWay,jdbcType=VARCHAR},
      channel_app_id = #{channelAppId,jdbcType=VARCHAR},
      channel_merchant_id = #{channelMerchantId,jdbcType=VARCHAR},
      bill_type = #{billType,jdbcType=VARCHAR},
      merchant_code = #{merchantCode,jdbcType=VARCHAR},
      merchant_name = #{merchantName,jdbcType=VARCHAR},
      merchant_app_code = #{merchantAppCode,jdbcType=VARCHAR},
      merchant_app_name = #{merchantAppName,jdbcType=VARCHAR},
      merchant_commodity = #{merchantCommodity,jdbcType=VARCHAR},
      currency = #{currency,jdbcType=VARCHAR},
      pay_merch_order_no = #{payMerchOrderNo,jdbcType=CHAR},
      pay_order_no = #{payOrderNo,jdbcType=CHAR},
      pay_trade_no = #{payTradeNo,jdbcType=CHAR},
      pay_trade_amount = #{payTradeAmount,jdbcType=DECIMAL},
      pay_trade_status = #{payTradeStatus,jdbcType=VARCHAR},
      pay_order_time = #{payOrderTime,jdbcType=TIMESTAMP},
      pay_success_time = #{paySuccessTime,jdbcType=TIMESTAMP},
      refund_merch_order_no = #{refundMerchOrderNo,jdbcType=CHAR},
      refund_order_no = #{refundOrderNo,jdbcType=CHAR},
      refund_trade_no = #{refundTradeNo,jdbcType=CHAR},
      refund_trade_amount = #{refundTradeAmount,jdbcType=DECIMAL},
      refund_trade_status = #{refundTradeStatus,jdbcType=VARCHAR},
      refund_apply_time = #{refundApplyTime,jdbcType=TIMESTAMP},
      refund_success_time = #{refundSuccessTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="selectAllByMap" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from bill_biz_doubt
    <where>
		<include refid="select_condition_sql" />
	</where>
  </select>
  
  <select id="selectPageByMap" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from bill_biz_doubt
    <where>
		<include refid="select_condition_sql" />
	</where>
  </select>
  
  <!-- Boss系统查询分页数据 -->
  <select id="selectPageForBoss" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from bill_biz_doubt
    <where>
		<choose>
			<when test="(startDate != null and startDate != '') and (endDate != null and endDate != '')">
				and bill_date between #{startDate} and #{endDate}
			</when>
			<when test="(startDate != null and startDate != '')">
				and bill_date <![CDATA[>=]]> #{startDate}
			</when>
			<when test="(endDate != null and endDate != '')">
				and bill_date <![CDATA[<=]]> #{endDate}
			</when>
		</choose>
		<if test=" batchNo != null and batchNo != '' ">
			and batch_no = #{batchNo}
		</if>
		<if test=" billType != null and billType != '' ">
			and bill_type = #{billType}
		</if>
		<if test=" payChannel != null and payChannel != '' ">
			and pay_channel = #{payChannel}
		</if>
		<if test=" batchNo != null and batchNo != '' ">
			and batch_no = #{batchNo}
		</if>
		<if test=" merchantAppCode != null and merchantAppCode != '' ">
			and merchant_app_code = #{merchantAppCode}
		</if>
		<if test=" payMerchOrderNo != null and payMerchOrderNo != '' ">
			and pay_merch_order_no = #{payMerchOrderNo}
		</if>
		<if test=" refundMerchOrderNo != null and refundMerchOrderNo != '' ">
			and refund_merch_order_no = #{refundMerchOrderNo}
		</if>
		<if test=" payOrderNo != null and payOrderNo != '' ">
			and pay_order_no = #{payOrderNo}
		</if>
		<if test=" refundOrderNo != null and refundOrderNo != '' ">
			and refund_order_no = #{refundOrderNo}
		</if>
		<if test=" payTradeNo != null and payTradeNo != '' ">
			and pay_trade_no = #{payTradeNo}
		</if>
		<if test=" refundTradeNo != null and refundTradeNo != '' ">
			and refund_trade_no = #{refundTradeNo}
		</if>
	</where>
  </select>
  
  <sql id="select_condition_sql">
		<if test="payChannel != null and payChannel != ''"> and pay_channel = #{payChannel,jdbcType=VARCHAR}</if>
  </sql>
  
  <delete id="deleteAll">
    delete from bill_biz_doubt
  </delete>
  
</mapper>