<!DOCTYPE html>

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Welcome</title>
	</head> 
	<body>
		<h2>银联(查询)：</h2>
		<div>
			  <!-- <form action="http://localhost:8082/pay-gateway/trade/pay/query" method="post"> -->
			  <!-- <form action="http://test.carisok.com/pay-web-gateway/trade/pay/query" method="post"> -->
			  <form id="queryForm" action="http://test.carisok.com/pay-web-shop/mch/pay/queryCharge" method="post">
			  		=============必填字段======================================<br />
			  		
			  		商户编号：	<input  name="merchantAppCode" value="1481083760950" /><br />
		          	支付渠道：	<input  name="channel" value="unionpay"><br />
		          	秘钥：		<input  name="sign" value="sign"/><br />
		          	
		          	枫车订单号：	<input  name="orderNo" value="20160001" /><br />
		          	
		          	
		          	<br />
		          	<br />
		          	<br />
		          	=============可选字段======================================<br />
		          	<br />
		          
		          	
		          <p class="pay_btn">
		            <input type="submit" value="查询" />
		          </p>
		        </form>
		
		</div>
	</body>
</html>
