<!DOCTYPE html>

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
		<!-- <script src="http://malsup.github.com/jquery.form.js"></script> -->
		<script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js">
		<script src="../js/jquery.form.js"></script>
		<title>Welcome</title>
	</head> 
	<body>
		<h2>银联(支付)：</h2>
		<div ng-app="myApp" ng-controller="myCtrl">
			  <!--  <form id="queryForm" action="http://localhost:8082/pay-gateway/trade/pay" method="post"> -->
			  <!-- <form id="queryForm" action="http://test.carisok.com/pay-web-gateway/trade/pay" method="post"> -->
			  <form id="queryForm" action="http://test.carisok.com/pay-web-shop/mch/pay/createCharge" method="post">
			  		=============必填字段======================================<br />
			  		商户编号：	<input id="version" name="version" value="1.0" /><br />
			  		商户编号：	<input id="merchantAppCode" name="merchantAppCode" value="1481083760950" /><br />
			  		商户订单号：	<input id="merchantOrderNo" name="merchantOrderNo" value="20160001" /><br />
		          	商品名称：	<input id="productName" name="productName" value="卡玛一块外加二锅头一瓶" style="width: 500px"/><br />
		          	
		          	金额：	  	<input id="amount" name="amount" value="1.00" /><br />
		          	支付渠道：	<input id="channel" name="channel" value="unionpay"><br />
		          	支付方式：	<input id="payWay" name="payWay" value="web"><br />
		          	秘钥：		<input id="sign" name="sign" value="sign"/><br />
		          	通知地址：<input id="notifyUrl" name="notifyUrl" value="http://localhost:8081/pay-shop/test" /><br />
		          	<br />
		          	<br />
		          	<br />
		          	=============可选字段======================================<br />
		          	<br />
		          	返回结果地址：<input id="returnUrl" name="returnUrl" value="http://test.carisok.com/pay-web-shop" /><br />
		          	用户下单IP：<input id="orderIp" name="orderIp" value="192.168.22.12" /><br />
		          	备注：<input id="remark" name="remark" value="亚麻跌" /><br />
		          <p class="pay_btn">
		            <input type="button" id="sub" ng-click="toggle()" value="获取枫车支付凭证" />
		            	<!-- <input type="button" id="sub" value="立即支付" /> -->
		          </p>
		        </form>
		        
				<form id="uninpaysubmit" action="" method="post">
					
				</form>
		</div>
	</body>
	<script type="text/javascript">
	
	/*{'Content-Type':'application/x-www-form-urlencoded'}  */
	
		var app = angular.module('myApp', []);
		app.controller('myCtrl', function($scope, $http) {
			
		    $scope.toggle = function() {

		    	
		    	/* $http.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded;charset=utf-8'; */
			    
			    $http({
			        method: 'POST',
			        url: $("#queryForm").attr("action"),
			        data: $("#queryForm").serialize(),
			        headers: {'Content-Type': 'application/x-www-form-urlencoded'}
			    }).success(function (data, status, headers, config) {
			    	
			    	$('#uninpaysubmit').attr('action',data.data.object.credential.url);
			    	
			    	$("#uninpaysubmit").empty();
			    	jQuery.each(data.data.object.credential.body, function(i, val) {
			    	    var str = '<br/><input name="'+i+'"  value="'+val+'"/>';
			    	    $("#uninpaysubmit").append(str);
			    	});
			    	$("#uninpaysubmit").append('<br/> <input  type="submit" value="提交银联" />');
			    	
			    	//$('#uninpaysubmit').submit();
			        
			    }).error(function (data, status, headers, config) {
			        alert("错误");
			    });				
		    
		    };
		});
	</script>
	
	<!-- <script type="text/javascript">
		$("#sub").click(function(){
			var queryString = $('#queryForm').formSerialize();
			$.post("http://localhost:8082/pay-gateway/trade/pay",queryString,function(result){
			    alert(result);
			  });
		});
		
	</script> -->
</html>
