<!DOCTYPE html>
<html>
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>正努力赶往支付宝...(枫车支付)</title>
	</head>
<body>
	<div>
		<!-- 参考：https://doc.open.alipay.com/doc2/detail.htm?treeId=203&articleId=105463&docType=1 -->
		<form id="alipaysubmit" action="${url}" method="post">
			<input type="hidden" name="biz_content" value="${biz_content}">
		</form>
	</div>
</body>

<script type="text/javascript">
	//document.forms['alipaysubmit'].submit();
</script>


</html>
